<template>

    <div class="login-background">

        <div class="col-xs-12 col-sm-6 bg-half-login"></div>

        <div class="col-xs-12 col-sm-6">

            <div class="login-container">

                <div id="login-container-logo"></div>

                <form @submit.prevent="login">
                    <form-input type="text" label="Email" placeholder="Email" v-model="username" ></form-input>
                    <form-input type="password" label="Password" placeholder="Password" v-model="password" ></form-input>
                    <button type="submit" class="btn btn-success btn-block"> <i class="fa fa-user"></i> ACCEDI</button>
                    <br>
                    <input type="checkbox" checked="" v-model="privacy" />
                    <a href="/privacy">
                        Policy privacy
                    </a>
                    <br>
                    <a href="#" class="darkLink">Recupera password</a><br>
                    <router-link :to="{ name: 'registrare' }" class="darkLink"> Richiedi accesso</router-link>
                </form>

            </div>

        </div>

    </div>

</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';
import FormInput from '@/components/FormInput.vue';
import { AuthServices } from '@/services/authServices';

import route from '@/router';
import * as Enum from '@/enum';
import store from '@/store';
import toastr from 'toastr';

@Component({
    components: {
        FormInput
    }
})

export default class LoginView extends Vue {
    username: string = "";
    password: string = "";
    privacy: boolean = false;
    login(){

        if(this.privacy==false || this.privacy==undefined ){
             toastr.error("Selezionare la privacy");
            return;
        }
        
         
        AuthServices.login(this.username, this.password)
        .then( x => {
            window.localStorage.setItem("userpsw", JSON.stringify({username: this.username, password: this.password, privacy: this.privacy}));
            
            if(this.$store.state.loginData.userRole == Enum.UserRole.Fornitore)
                this.$router.push({ name: 'dashboard' })

            if(this.$store.state.loginData.userRole == Enum.UserRole.Cliente || this.$store.state.loginData.userRole == Enum.UserRole.Admin )
                this.$router.push({ name: 'gelato' })

            // this.$router.push('laboratorio/gelato');
        })
        .catch( err => {
            console.log(err);
        });
    }
    mounted(){
        let data = window.localStorage.getItem("userpsw");
        if(data){
            let parsed = JSON.parse(data);
            this.username = parsed.username;
            this.password = parsed.password;
            this.privacy = parsed.privacy;

        }

    }
}
</script>
