<template>
    <div class="login-background">
        <div class="col-xs-12 col-sm-6 bg-half-login"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="login-container">
                <div id="login-container-logo"></div>
                <form @submit.prevent="register()">
                    <form-input type="text" label="Username" placeholder="Username" v-model="vm.username" validate="required" ></form-input>
                    <form-input type="text" label="Email" placeholder="Email" v-model="vm.email" validate="required|email"></form-input>
                    <form-input type="password" label="Password di accesso" placeholder="Password" v-model="vm.password" validate="required"></form-input>
                    <form-input type="password" label="Ripeti Password di accesso" placeholder="Ripeti Password" v-model="repeatPassword" validate="required"></form-input>
                    <button type="submit" class="btn btn-success btn-block"> <i class="fa fa-user"></i> REGISTRARE</button>
                    <br>
                    <router-link :to="{ name: 'login' }" class="darkLink">accesso</router-link>
                </form>
            </div>
        </div>
    </div>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';
import FormInput from '@/components/FormInput.vue';
import { AuthServices } from '@/services/authServices';
import toastr from 'toastr';
import route from '@/router';
import * as OM from '@/model';

@Component({
    components: {
        FormInput
    }
})

export default class RegistrareView extends Vue {
    repeatPassword: string = "";
    vm: OM.Cliente = new OM.Cliente();

    register(){
        if (this.vm.password === '' || this.vm.username === '' || this.vm.email === '') {
            toastr.error("required fields");
            return;
        } else if (this.vm.password !== this.repeatPassword) {
            toastr.error("password dont match");
            return;
        }

        AuthServices.register(this.vm)
        .then( x => {
            toastr.success("Salvato");
            this.$router.push({ name: 'login' });
        })
        .catch( err => {
            console.log(err);
            toastr.error(err.message);
        });
    }

    mounted(){
        this.vm.role = 'Cliente';
    }
}
</script>
