<template>
    <div class="panelWhite">
        <div class="row">
            <div class="col-sm-12"><h2 class="text-success">Modifica Anagrafica Base Fornitore</h2></div>
            <div class="col-sm-12">
                <form-input type="text" label="Ragione sociale" v-model="vm.ragioneSociale"></form-input>
                <form-input type="text" label="Partita iva" v-model="vm.partitaIva"></form-input>
                <form-input type="text" label="Email" v-model="vm.email"></form-input>
                <google-autocomplete v-model="vm.indirizzo"></google-autocomplete>
            </div>
            <div class="col-sm-12">
                    <button type="button" @click="save" class="btn btn-success btn-block"><i class="fa fa-floppy-o"></i> Salva</button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { FornitoreServices } from '@/services/fornitoreServices';
import * as OM from '@/model';
import toastr from 'toastr';
import FormInput from '@/components/FormInput.vue'
import GoogleAutocomplete from '@/components/googleAutocomplete.vue'

@Component({
    components: {
        FormInput,
        GoogleAutocomplete
    }
})

export default class ProdottoDetailView extends Vue {
    loaded: boolean = false;
    vm: OM.Fornitore = new OM.Fornitore();
    created(){
        FornitoreServices.GetById(this.$route.params.identifier)
        .then( x => {
            this.vm = x;
            this.loaded = true;
        })
        .catch( err => {
            console.log(err);
        })
    }
    save(){
        FornitoreServices.Save(this.vm)
        .then( x => {
            toastr.success("Salvato");
        })
        .catch( err => {
            console.log(err);
        })
    }
}
</script>