<template>
    <div class="panelWhite">

        <div class="row">
            <div class="col-sm-12">
                        <h2 class="text-success" v-language="'ricette_title'"><b>Lista Fornitori</b> </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <fornitori-table :rowData="vm"></fornitori-table>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { FornitoreServices } from '@/services/fornitoreServices';
import * as OM from '@/model';
import * as Enum from '@/enum';
import FornitoriTable from './fornitoriTable.vue'

@Component({
    components: {
        FornitoriTable
    }
})
export default class ProdottiView extends Vue {
    vm: OM.Fornitore[] = [];
    created(){
        FornitoreServices.GetAll()
        .then(x => {
            this.vm = x; 
        });;
    }
}
</script>
