<template>
  <div class="container-scroller">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="../../index.html">
          <img src="../../images/logoApp.jpg" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="../../index.html">
                <img src="../../images/logo-mini.svg" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <!--
                <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
                        <li class="nav-item"><a href="#" class="nav-link">Schedule<span class="badge badge-primary ml-1">New</span></a></li>
                        <li class="nav-item active"><a href="#" class="nav-link"><i class="mdi mdi-elevation-rise"></i>Reports</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="mdi mdi-bookmark-plus-outline"></i>Score</a></li>
                </ul>
        -->
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <!-- <span class="profile-text">Francesco di Sano</span> -->
              <span class="profile-text">{{this.loginData.username}}</span>
              <img class="img-xs rounded-circle" src="../../images/faces/avatar.png" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <a class="dropdown-item mt-2">Il mio Profilo</a>
                <a class="dropdown-item error" @click="logout()" ><i class="mdi mdi-exit-to-app"></i> ESCI </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" @click="toggleMenu()" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" :class="{active: sidebarMobileActive}" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">

              <div class="user-wrapper">
                <div class="profile-image">
                  <!-- <img src="../../images/faces/face1.jpg" alt="profile image"> -->
                  <img src="../../images/faces/avatar.png" alt="profile image">
                </div>
                <div class="text-wrapper">
                  <!-- <p class="profile-name">Francesco Di Sano</p> -->
                  <p class="profile-name">{{this.loginData.username}}</p>
                  <div>
                    <!-- <small class="designation text-muted">Di Sano srl</small> -->
                    <!-- <span class="status-indicator online"></span> -->
                  </div>
                </div>
              </div>


              
            </div>
          </li>

          <li class="nav-item" v-for="(route, index) in routes" :key="index">
            <router-link :to="route.routeName" class="nav-link" :id="index" @click.native="toggleMenu()">
              <i :title="route.label" class="menu-icon" :class="route.icon"></i>
              <span class="menu-title">{{route.label}}</span>
            </router-link>
          </li>
          <li class="nav-item">
            <a class="nav-link mobile-logout" href="#" @click="logout()" >
              <i class="mdi mdi-exit-to-app menu-icon"></i>
              <span class="menu-title">ESCI</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper">

        <transition name="fadeSmall" mode="out-in">
            <router-view/>
        </transition>



        </div>
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="https://www.sichef.if/" target="_blank">SI CHEF </a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> DI SANO SRL</span>
          </div>
        </footer>
      </div>
    </div>
  </div>
  
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import * as OM from '@/model';
import * as Enum from '@/enum';
import { AuthServices } from '@/services/authServices';
import router from '@/router';
import { commonRoutes, clienteRoutes, adminRoutes } from '@/router';
import store from '@/store';

@Component
export default class LayoutView extends Vue {
    routes: OM.AppRoute[] = [];
    isMobile: boolean = false;
    openSideMenu: boolean = false;
    sidebarMobileActive: boolean = false;
    created(){
        this.routes = commonRoutes;
        if(this.loginData.userRole == Enum.UserRole.Admin){
           this.routes = this.routes.concat(clienteRoutes);
            this.routes = this.routes.concat(adminRoutes);
        }
        else if(this.loginData.userRole == Enum.UserRole.Cliente)
        {
           this.routes = this.routes.concat(clienteRoutes);
        }

        if (window.innerWidth < 769) {
            this.isMobile = true;
        }
        router.beforeEach((to, from, next) => {
            this.openSideMenu = false;
            next();
        })
    }
    get loginData(){
        return store.state.loginData;
    }
    logout(){
        AuthServices.logout()
        .then(x => {
            router.push('/');
        });
    }
    edit: boolean = false;
    editLanguages(){
        this.edit = !this.edit;
        store.commit('editLanguage', this.edit);
    }

    toggleMenu() {
      this.sidebarMobileActive = !this.sidebarMobileActive;
    }
    
    // mounted(){
    //     document.addEventListener('click', this.handleClickOutside)
    // }
    // destroyed() {
    //     document.removeEventListener('click', this.handleClickOutside)
    // }

/*     handleClickOutside(ev: any) {
        if (!(<any>this.$refs.sideMenu).contains(ev.target)) {
            this.openSideMenu = false;
        } else {
            ev.preventDefault();
            ev.stopPropagation();
        }
    }
 */    
}

</script>
