<template>
    <div class="panelWhite">
        <div class="row">
            <div class="col-sm-12">
                    <h2 class="text-success">Inserimento Nuovo Prodotto </h2>
            </div>
            <div class="col-sm-12">
                    <dati-base-prodotto v-model="vm" :tipo-prodotto="2" :immagine="true"></dati-base-prodotto>
            </div>
            <div class="col-sm-6">
                    <button type="button" @click="save" class="btn btn-success btn-block">
                            <i class="fa fa-bolt"></i> Salva e modifica
                    </button>
            </div>
            <div class="col-sm-6">
                    <button type="button" @click="save(true)" class="btn btn-primary btn-block">
                            <i class="fa fa-bolt"></i> Salva una copia
                    </button>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { UserServices } from '@/services/userServices';
import { ProdottoServices } from '@/services/prodottoServices';
import * as VM from '@/viewModel';
import * as OM from '@/model';
import * as Enum from '@/enum';
import toastr from 'toastr';
import DatiBaseProdotto from '@/components/DatiBaseProdotto.vue';

@Component({
    components: {
        DatiBaseProdotto
    }
})
export default class NuovoProdottoView extends Vue {
    vm: VM.NewProdottoVm = new VM.NewProdottoVm();
    tipiProdotto = Enum.EnumToList(Enum.TipoProdotto);
    save(stay: boolean){
        ProdottoServices.Create(this.vm)
        .then( x => {
            toastr.success("Prodotto salvato");
            if(!stay)
                this.$router.replace('/prodotti/detail/' + x);
        })
        .catch( err => {
            console.log(err);
        })
    }
    created(){
        this.vm.tipoProdotto = Enum.TipoProdotto.Articolo;
    }
}
</script>
