<template>
    <div v-if="loaded" class="panelWhite">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-success">Dettaglio prodotto:</h2>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-success btn-block" @click="save">
                    <i class="fa fa-floppy"></i> SALVA
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <dati-base-prodotto v-model="vm" :tipo-prodotto="2" :immagine="true"></dati-base-prodotto>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { ProdottoServices } from '@/services/prodottoServices';
import { UserServices } from '@/services/userServices';
import * as OM from '@/model';
import * as Enum from '@/enum';
import toastr from 'toastr';
import DatiBaseProdotto from '@/components/DatiBaseProdotto.vue';

@Component({
    components: {
        DatiBaseProdotto
    }
})
export default class ProdottoDetailView extends Vue {
    loaded: boolean = false;
    vm: OM.BaseProdotto = new OM.BaseProdotto();
    tipiProdotto = Enum.EnumToList(Enum.TipoProdotto);
    fornitori: OM.Fornitore[] = [];
    fornitoreSelected: OM.Fornitore = new OM.Fornitore();
    created(){
        ProdottoServices.GetById(this.$route.params.identifier)
        .then( x => {
            this.vm = x;
            UserServices.GetFornitori().then(x => {
                this.fornitori = x;
                this.fornitori.some(x => {
                    if(x.identifier == this.vm.fornitoreIdentifier){
                        this.fornitoreSelected = x;
                        return true;
                    }
                });
                this.loaded = true;
            })
        })
        .catch( err => {
            console.log(err);
        })
    }
    save(){
        ProdottoServices.Update(this.vm)
        .then( x => {
            toastr.success("Salvato");
        })
        .catch( err => {
            console.log(err);
        })
    }
}
</script>
