<template>
    <div class="panelWhite">

        <div class="row">
            <div class="col-md-8">
                        <h2 class="text-success" v-language="'ricette_title'"><b>Gestione Prodotti</b> </h2>
            </div>
            <div class="col-md-4">
                <router-link to="/prodotti/new" class="btn btn-success btn-block">
                    <i class="fa fa-bolt"></i> NUOVO PRODOTTO
                </router-link>
            </div>            
        </div>


        <div class="row">
                <div class="col-xs-12">

                        <prodotti-table :rowData="vm.data"></prodotti-table>

            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { ProdottoServices } from '@/services/prodottoServices';
import * as OM from '@/model';
import * as Enum from '@/enum';
import ProdottiTable from './prodottiTable.vue'

@Component({
    components: {
        ProdottiTable
    }
})
export default class ProdottiView extends Vue {
    vm: OM.TableResult<OM.BaseProdotto> = new OM.TableResult();
    created(){
        ProdottoServices.GetAll()
        .then(x => {
            this.vm = x; 
        });;
    }
}
</script>
