body {
    background-color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

.shadow {
    box-shadow: 2px 2px 5px #686868;
}

.navbar {
    margin-bottom:2px!important;
}

.error {color:red!important;}

.box {
    margin-bottom: 10px;
}

.bold {font-weight:bold;}

.titleInline {
    margin: 20px 20px 20px 0;
    font-size: 20px;
    display: inline-block;
}

.pl-0 {
    padding-left: 0!important;
}

.pr-0 {
    padding-right: 0!important;
}

input.genericInput {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.mTB20 {margin:20px auto!important;}
.mB40 {margin-bottom:40px;}

.panelWhite{
 background-color:white;
 border-radius: 15px;
 padding:15px!important;
 border:1px solid #efefef;

}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}



.btn.btn-success {
    color: #fff;
    background-color: #018d36;
    border-color: #4cae4c;
}

.bg-danger {
    background-color: #d9534f;
}
.bg-warning {
    background-color: #f0ad4e;
}
.bg-success {
    background-color: #00ff00;
}

.nav.nav-tabs li a, .nav.nav-tabs li.active a {
    cursor: pointer;
}

.pElenco {
    max-width: 250px;
}
.pElenco span {
    float: right;
    font-weight: bold;
}

.tabContent {
    padding: 10px;
    border: 1px solid rgba(221, 221, 221, 1);
    border-top: none;
}

.login-background {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#fff;
}

.bg-half-login{
 background: url(../img/bg_login_SICHEF.jpg);
 background-repeat: repeat-x;
 background-size:cover;
 height: 100vh;
}

@media (min-width: 576px) {
    .login-container{
        position:fixed;
        top:50%;
        height:400px;
        margin-top:-200px;
        min-width:400px;
    }
}

#login-container-logo{
content:url(../img/logo_SICHEF.jpg);
max-width: 200px;
margin-bottom:60px;
}


.mainContainer {
    padding-left: 180px;
    padding-right: 0px;
}

table.tableBase {
    border: 1px solid rgba(0,0,0,0.4);
}

ul.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    justify-content: flex-end;
    display: flex;
    width: 100%;
}
ul.pagination li {
    cursor: pointer;
}

.page-container {
    padding: 20px;
    min-height: 100vh;
}

.spinner-container {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.3);
}

.spinner-container .spinner-outer {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    border: 6px groove #ffffff;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-animation: loader-1-inner 1s ease-out alternate infinite;
    animation: loader-1-inner 1s ease-out alternate infinite;
}
.spinner-container .spinner-outer .spinner-inner {
    border: 0px inset #cccccc;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    -webkit-animation: border-zoom 1s ease-out alternate infinite;
    animation: border-zoom 1s ease-out alternate infinite;
}

@keyframes loader-1-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes border-zoom {
    0% {
        border-width: 0px;
    }
    100% {
        border-width: 40px;
    }
}

@keyframes border-zoom {
    0% {
        border-width: 0px;
    }
    100% {
        border-width: 40px;
    }
}

#toast-container>div {
    opacity: 1;
}

.ag-theme-bootstrap .ag-paging-panel {
    height: 45px;
}

button.ag-paging-button {
    position: relative;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

button.ag-paging-button:first-of-type {
    margin-right: -4px;
}

button.ag-paging-button:last-of-type {
    margin-left: -4px;
}

button.ag-paging-button[disabled] {
    background: #ebebe4;
    cursor: not-allowed;
    color: #777;
}

button.ag-paging-button[ref="btPrevious"] {
    margin-right: 5px;
}
button.ag-paging-button[ref="btNext"] {
    margin-left: 5px;
}
input.ag-filter-filter {
    padding: 1px;
    border-radius: 4px;
    border: 1px solid #777;
}

input.ag-floating-filter-input {
    padding: 1px;
    border-radius: 4px;
    border: 2px solid #ccc;
}

.header-title {
    text-align: right;
    height: 40px;
    padding: 8px;
    color: #018d36;
    background-color:#efefef;
    font-size:18px;
    margin-bottom: 10px;
    text-transform:uppercase;
    font-weight:800;
}

tfoot {
    background: rgba(216, 216, 216, 0.65);
}

/* MOBILE */

@media screen and (max-width: 767px) {
    .mainContainer {
        padding-left: unset;
    }
    .header-title {
        background: transparent;
        position: absolute;
        top: 5px;
        margin-top: 0px;
        height: 50px;
        min-height: unset;
        padding: 8px;
        font-size: 20px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        box-shadow: none;
        margin-left: 55px;
        padding-right: 55px;
    }
}

.vee-error {
    display: inline;
    color: #ec0000;
}

.text-danger {
    color: #ec0000;
}
.text-warning {
    color: #ff9b00;
}
.text-success {
    color: green;
}

.fullTitle {
    width: 100%;
    font-size: 24px;
    background: linear-gradient(#018d36, #005d23);
    padding: 8px;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-size: 20px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s ease;
}
.fade-enter, .fade-leave-to {
    transition: opacity 0.3s ease;
    opacity: 0;
}

.fadeSmall-enter-active, .fadeSmall-leave-active {
    transition: opacity 0.15s ease;
}
.fadeSmall-enter, .fadeSmall-leave-to {
    transition: opacity 0.15s ease;
    opacity: 0;
}