.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}



.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 178px;
    height: 100%;
    color: #e1ffff;
    border-color: #080808;
    transition: transform 0.3s;
}
.navbar-collapse {
    padding: 0;
}



.nav-side-menu .navbar-nav>li>a {
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    text-transform:uppercase;
    color: #003300;
}
.nav-side-menu .navbar-nav>li>a i {
    color: #003300;
}
.nav-side-menu .navbar-nav>li>a:focus {
    color: black;
}
.nav-side-menu .navbar-nav>li>a:hover i {
    color: #fff;
    background-color: transparent;
}
.nav-side-menu .brand {
    background-color: #ffffff;
    line-height: 15px;
    display: block;
    text-align: center;
    font-size: 14px;
    max-height: 150px;
    overflow: hidden;
}
.nav-side-menu .brand img {
    height: 100%;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    width: 100%;
}
.nav>li>a.router-link-active {
    text-decoration: none;
    background-color: #bbbbbb;
}
.nav>li>a:hover {
    background-color: #bbbbbb;
    color: white;
}
.nav-side-menu li:hover {
    border-right: 3px solid #ffffff;
    background-color: #003300;
}
.nav-side-menu li {
    padding-left: 0px;
    border-right: 3px solid #003300;
    border-bottom: 2px solid #f1f1f1;
    transition: all 0.3s ease;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
    margin-right: 10px;
}
@media (max-width: 767px) {
    .nav-side-menu {
        transform: translateX(-102%);
        margin-bottom: 10px;    
        width: 85%;
        z-index: 99;
    }
    .nav-side-menu.open {
        transform: translateX(0);
    }
    .nav-side-menu .navbar-toggle {
        display: block;
    }
    .brand {
        max-height: 90px !important;
    }
    .nav-side-menu .brand img {
        height: 90px;
    }
    .header {
        height: 60px;
        background: #003300;
    }
    .menu-toggler {
        height: 40px;
        width: 40px;
        margin: 10px 0 0 10px;
        padding: 0 9px;
        border: none;
        border-radius: 2px;
        background: white;
    }
    .menu-toggler .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: black;
    }
    .menu-toggler .icon-bar+.icon-bar {
        margin-top: 4px;
    }
}
