<template>
    <div class="table-responsive">
        <table class="table table-striped" v-if="ricetta.ingredienti.length > 0">
            <thead>
                <tr>
                    <th>Ingrediente</th>
                    <th></th>
                    <th>Quantità (gr)</th>
                    <th>Quantità (%)</th>
                    <th>Acqua</th>
                    <th>Lipidi</th>
                    <th>Proteine</th>
                    <th>Zuccheri</th>
                    <th>Fibre</th>
                    <th>Carboidrati</th>
                    <th>Ceneri</th>
                    <th>Altri solidi</th>
                    <th>Pac</th>
                    <th>Pod</th>
                    <th v-if="edit"></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>Totale</td>
                    <td></td>
                    <td :class="{ 'bg-success': quantitaTotale.value == 1000, 
                                'bg-danger': quantitaTotale.value != 1000}">
                        {{quantitaTotale.text}}
                    </td>
                    <td></td>
                    <td>{{percentualeAcqua.text}}</td>
                    <td :class="{'bg-warning': percentualeLipidi.value >= 2 && percentualeLipidi.value <= 10,
                                'bg-success': percentualeLipidi.value >= 3 && percentualeLipidi.value <= 9,
                                'bg-danger': percentualeLipidi.value < 2 || percentualeLipidi.value > 9}">
                        {{percentualeLipidi.text}}
                    </td>
                    <td :class="{'bg-warning': percentualeProteine.value >= 3 && percentualeProteine.value <= 10,
                                'bg-success': percentualeProteine.value >= 4 && percentualeProteine.value <= 9,
                                'bg-danger': percentualeProteine.value < 4 || percentualeProteine.value > 9}">
                        {{percentualeProteine.text}}
                    </td>
                    <td :class="{'bg-warning': percentualeZuccheri.value >= 17 && percentualeZuccheri.value <= 22,
                                'bg-success': percentualeZuccheri.value >= 18 && percentualeZuccheri.value <= 21,
                                'bg-danger': percentualeZuccheri.value < 18 || percentualeZuccheri.value > 21}">
                        {{percentualeZuccheri.text}}
                    </td>
                    <td>{{percentualeFibre.text}}</td>
                    <td>{{percentualeCarboidrati.text}}</td>
                    <td>{{percentualeCeneri.text}}</td>
                    <td>{{percentualeAltriSolidi.text}}</td>
                    <td>{{percentualePac.text}}</td>
                    <td>{{percentualePod.text}}</td>
                    <td v-if="edit"></td>
                </tr>
            </tfoot>
        
            <tbody>
                <!-- Riga base -->
                <tr v-for="(item, ii) in ricetta.basi" :key="item.nome">
                    <td colspan="14" class="pl-0 pr-0">
                        <accordion >
                            <div slot="title">
                                {{item.nome}} - Quantità (gr)
                                <div v-if="edit">
                                    <input type="number" class="genericInput" min="0" max="1000"
                                        @click.stop v-model.number="item.quantita" />
                                    <button type="button" class="btn btn-danger" @click="removeBase(ii)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <span v-else> - {{item.quantita}} %</span>
                            </div>
                            <table class="table table-striped tableBase" v-if="isCreatedFromAdmin()">
                                <thead>
                                    <tr>
                                        <th>Ingrediente</th>
                                        <th></th>
                                        <th>Quantità (gr)</th>
                                        <th>Quantità (%)</th>
                                        <th>Acqua</th>
                                        <th>Lipidi</th>
                                        <th>Proteine</th>
                                        <th>Zuccheri</th>
                                        <th>Fibre</th>
                                        <th>Carboidrati</th>
                                        <th>Ceneri</th>
                                        <th>Altri solidi</th>
                                        <th>Pac</th>
                                        <th>Pod</th>
                                        <th v-if="edit" style="width: 63px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(ingr) in item.ingredienti" :key="ingr.identifier">
                                        <td>{{ingr.nome}} - {{item.fornitore}}</td>
                                        <td></td>
                                        <td>
                                            {{ingr.quantita}}
                                        </td>
                                        <td>
                                            {{quantitaParzialePercentuale(ingr.quantita).text}}
                                        </td>
                                        <td>{{ingr.dettaglio.acqua}}</td>
                                        <td>{{ingr.dettaglio.lipidi}}</td>
                                        <td>{{ingr.dettaglio.proteine}}</td>
                                        <td>{{ingr.dettaglio.zuccheri}}</td>
                                        <td>{{ingr.dettaglio.fibre}}</td>
                                        <td>{{ingr.dettaglio.carboidrati}}</td>
                                        <td>{{ingr.dettaglio.ceneri}}</td>
                                        <td>{{ingr.dettaglio.altriSolidi}}</td>
                                        <td>{{ingr.dettaglio.pac}}</td>
                                        <td>{{ingr.dettaglio.pod}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </accordion>
                    </td>
                </tr>
                <!-- Riga ingrediente -->
                <tr v-for="(item, i) in ricetta.ingredienti" :key="i">
                    <td>{{item.nome}} - {{item.fornitore}}</td>
                    <td></td>
                    <td class="text-right">
                        <input type="number" class="form-control" min="0" max="1000" v-if="edit"
                            v-model.number="item.quantita" style="max-width: 80px;" />
                        <span v-else>{{item.quantita}} </span>
                    </td>
                    <td>{{quantitaParzialePercentuale(item.quantita).text}}</td>
                    <td>{{item.dettaglio.acqua}}</td>
                    <td>{{item.dettaglio.lipidi}}</td>
                    <td>{{item.dettaglio.proteine}}</td>
                    <td>{{item.dettaglio.zuccheri}}</td>
                    <td>{{item.dettaglio.fibre}}</td>
                    <td>{{item.dettaglio.carboidrati}}</td>
                    <td>{{item.dettaglio.ceneri}}</td>
                    <td>{{item.dettaglio.altriSolidi}}</td>
                    <td>{{item.dettaglio.pac}}</td>
                    <td>{{item.dettaglio.pod}}</td>
                    <td v-if="edit">
                        <button type="button" class="btn btn-icons btn-rounded btn-danger" @click="removeIngrediente(i)">
                            <i class="mdi mdi-minus-circle"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import * as OM from '@/model';
import Accordion from '@/components/Accordion.vue';
import * as Enum from '@/enum';

@Component({
    components: {
        Accordion
    }
})
export default class DettaglioRicetta extends Vue{
    @Prop({
        type: Object
    }) ricetta: OM.Ricetta;
    @Prop() edit: boolean;
    get quantitaTotale(){
        let totale: number = 0;
        this.ricetta.ingredienti.forEach((x) => {
            if(x.quantita){
                totale += x.quantita;
            }
        });
        this.ricetta.basi.forEach((x) => {
            if(x.quantita){
                totale += x.quantita;
            }
        })
        return {
            value: totale,
            text: totale.toFixed(0) + ' gr'
        };
    }
    quantitaParzialePercentuale(valoreIngrediente: number ){
        let totale: number = 0;
        
        this.ricetta.ingredienti.forEach((x) => {
            if(x.quantita){
                totale += x.quantita;
            }
        });
        this.ricetta.basi.forEach((x) => {
            if(x.quantita){
                totale += x.quantita;
            }
        })

        let percentualeIngrediente = 0;
        
        var percentualeIngredienteTmp = valoreIngrediente * 100/totale;
        if( percentualeIngredienteTmp >= 0 )
         percentualeIngrediente = percentualeIngredienteTmp
        
        return {
            value: percentualeIngrediente,
            text: percentualeIngrediente.toFixed(2) + ' %'
        };
    }
    get quantitaTotalePercentuale(){
        let totale: number = 0;
       
        this.ricetta.ingredienti.forEach((x) => {
            if(x.quantita){
                totale += x.quantita;
            }
        });
        this.ricetta.basi.forEach((x) => {
            if(x.quantita){
                totale += x.quantita;
            }
        })

        return totale*100/this.quantitaTotale.value;
    }
    removeIngrediente(index: number){
        this.$emit('removeIngrediente', index);
    }
    removeBase(index: number){
        this.$emit('removeBase', index);
    }
    get percentualeAcqua(){
        if(this.quantitaTotale.value == 0){
            return '-';
        }
        let totale: number = 0;
        this.ricetta.ingredienti.forEach(x => {
            totale += x.quantita / 100 * x.dettaglio.acqua;
        });
        this.ricetta.basi.forEach(base => {
            base.ingredienti.forEach(x => {
                totale += (base.quantita / 100 ) * (x.quantita / 100 * x.dettaglio.acqua);
            });
        });
        return {
            value: (totale / this.quantitaTotale.value * 100) ,
            text: (totale / this.quantitaTotale.value * 100).toFixed(2) + ' %'
        };
    }
    get percentualeLipidi(){
        if(this.quantitaTotale.value == 0){
            return '-';
        }
        let totale: number = 0;
        this.ricetta.ingredienti.forEach(x => {
            totale += x.quantita / 100 * x.dettaglio.lipidi;
        });
        this.ricetta.basi.forEach(base => {
            base.ingredienti.forEach(x => {
                totale += (base.quantita / 100 ) * (x.quantita / 100 * x.dettaglio.lipidi);
            });
        });
        return {
            value: (totale / this.quantitaTotale.value * 100) ,
            text: (totale / this.quantitaTotale.value * 100).toFixed(2) + ' %'
        };
    }
    get percentualeProteine(){
        if(this.quantitaTotale.value == 0){
            return '-';
        }
        let totale: number = 0;
        this.ricetta.ingredienti.forEach(x => {
            totale += x.quantita / 100 * x.dettaglio.proteine;
        });
        this.ricetta.basi.forEach(base => {
            base.ingredienti.forEach(x => {
                totale += (base.quantita / 100 ) * (x.quantita / 100 * x.dettaglio.proteine);
            });
        });
        return {
            value: (totale / this.quantitaTotale.value * 100) ,
            text: (totale / this.quantitaTotale.value * 100).toFixed(2) + ' %'
        };
    }
    get percentualeZuccheri(){
        if(this.quantitaTotale.value == 0){
            return '-';
        }
        let totale: number = 0;
        this.ricetta.ingredienti.forEach(x => {
            totale += x.quantita / 100 * x.dettaglio.zuccheri;
        });
        this.ricetta.basi.forEach(base => {
            base.ingredienti.forEach(x => {
                totale += (base.quantita / 100 ) * (x.quantita / 100 * x.dettaglio.zuccheri);
            });
        });
        return {
            value: (totale / this.quantitaTotale.value * 100) ,
            text: (totale / this.quantitaTotale.value * 100).toFixed(2) + ' %'
        };
    }
    get percentualeFibre(){
        if(this.quantitaTotale.value == 0){
            return '-';
        }
        let totale: number = 0;
        this.ricetta.ingredienti.forEach(x => {
            totale += x.quantita / 100 * x.dettaglio.fibre;
        });
        this.ricetta.basi.forEach(base => {
            base.ingredienti.forEach(x => {
                totale += (base.quantita / 100 ) * (x.quantita / 100 * x.dettaglio.fibre);
            });
        });
        return {
            value: (totale / this.quantitaTotale.value * 100) ,
            text: (totale / this.quantitaTotale.value * 100).toFixed(2) + ' %'
        };
    }
    get percentualeCarboidrati(){
        if(this.quantitaTotale.value == 0){
            return '-';
        }
        let totale: number = 0;
        this.ricetta.ingredienti.forEach(x => {
            totale += x.quantita / 100 * x.dettaglio.carboidrati;
        });
        this.ricetta.basi.forEach(base => {
            base.ingredienti.forEach(x => {
                totale += (base.quantita / 100 ) * (x.quantita / 100 * x.dettaglio.carboidrati);
            });
        });
        return {
            value: (totale / this.quantitaTotale.value * 100) ,
            text: (totale / this.quantitaTotale.value * 100).toFixed(2) + ' %'
        };
    }
    get percentualeCeneri(){
        if(this.quantitaTotale.value == 0){
            return '-';
        }
        let totale: number = 0;
        this.ricetta.ingredienti.forEach(x => {
            totale += x.quantita / 100 * x.dettaglio.ceneri;
        });
        this.ricetta.basi.forEach(base => {
            base.ingredienti.forEach(x => {
                totale += (base.quantita / 100 ) * (x.quantita / 100 * x.dettaglio.ceneri);
            });
        });
        return {
            value: (totale / this.quantitaTotale.value * 100) ,
            text: (totale / this.quantitaTotale.value * 100).toFixed(2) + ' %'
        };
    }
    get percentualeAltriSolidi(){
        if(this.quantitaTotale.value == 0){
            return '-';
        }
        let totale: number = 0;
        this.ricetta.ingredienti.forEach(x => {
            totale += x.quantita / 100 * x.dettaglio.altriSolidi;
        });
        this.ricetta.basi.forEach(base => {
            base.ingredienti.forEach(x => {
                totale += (base.quantita / 100 ) * (x.quantita / 100 * x.dettaglio.altriSolidi);
            });
        });
        return {
            value: (totale / this.quantitaTotale.value * 100) ,
            text: (totale / this.quantitaTotale.value * 100).toFixed(2) + ' %'
        };
    }
    get percentualePac(){
        if(this.quantitaTotale.value == 0){
            return '-';
        }
        let totale: number = 0;
        this.ricetta.ingredienti.forEach(x => {
            totale += x.quantita / 100 * x.dettaglio.pac;
        });
        this.ricetta.basi.forEach(base => {
            base.ingredienti.forEach(x => {
                totale += (base.quantita / 100 ) * (x.quantita / 100 * x.dettaglio.pac);
            });
        });
        return {
            value: (totale / this.quantitaTotale.value * 100) ,
            text: (totale / this.quantitaTotale.value * 100).toFixed(2) + ' %'
        };
    }
    get percentualePod(){
        if(this.quantitaTotale.value == 0){
            return '-';
        }
        let totale: number = 0;
        this.ricetta.ingredienti.forEach(x => {
            totale += x.quantita / 100 * x.dettaglio.pod;
        });
        this.ricetta.basi.forEach(base => {
            base.ingredienti.forEach(x => {
                totale += (base.quantita / 100 ) * (x.quantita / 100 * x.dettaglio.pod);
            });
        });
        return {
            value: (totale / this.quantitaTotale.value * 100) ,
            text: (totale / this.quantitaTotale.value * 100).toFixed(2) + ' %'
        };
    }
     isCreatedFromAdmin() {
        if(this.ricetta.creatorRole == Enum.UserRole.Admin && (this.$store.state.loginData.userRole == Enum.UserRole.Cliente || this.$store.state.loginData.userRole == Enum.UserRole.Fornitore)){
          return false;
        }
        return true;
    }
}
</script>