<template>
    <div class="panelWhite" v-if="loaded">

        <div class="row">
            <div class="col-sm-12">
                        <h2 class="text-success">Creazione Nuova Ricetta </h2>
            </div>
        </div>

        <div class="row">

        <div class="col-sm-12">

                <form-input type="text" label="Nome Ricetta" language="ricette_new_nome" placeholder="Nome ricetta" v-model="ricetta.nome"></form-input>

                <form-input type="checkbox" label="Salva la Ricetta come Base" v-model="ricetta.isBase"></form-input>


                <form-select label="Classificazione ricetta">
                    <select class="form-control" v-model="ricetta.classificazione" :formtype="horizontal" >
                        <option value=""></option>
                        <option v-for="(item, i) in classiRicetta" :key="i" :value="item">
                            {{item}}
                        </option>
                    </select>
                </form-select>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Aggiungi Ingrediente</label>
            <div class="col-sm-9">
                    <autocomplete ref="ingredientiAutocomplete" :source="ingredientiVm" objKey="nomeIngredienteFornitore" objValue="identifier" v-model="tempIngrediente" @input="setIngrediente" :clear-on-select="true"></autocomplete>
                </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Aggiungi Base</label>
            <div class="col-sm-9">
                        <autocomplete ref="baseAutocomplete" :source="basiVm" objKey="nome" objValue="identifier" v-model="tempBase" @input="setBase" :clear-on-select="true"></autocomplete>
                </div>
        </div>
                <dettaglio-ricetta :ricetta="ricetta" :edit="true" @removeIngrediente="removeIngrediente"></dettaglio-ricetta>
                <hr />
                <button type="button" class="btn btn-success btn-block" @click="save"><i class="fa fa-save"></i>  Salva</button>

            </div>
            
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { IngredientiServices } from '@/services/ingredientiServices';
import { RicettaServices } from '@/services/ricettaServices';
import * as OM from '@/model';
import * as VM from '@/viewModel';
import * as Enum from '@/enum';
import RicetteTable from './ricetteTable.vue';
import Autocomplete from '@/components/Autocomplete.vue';
import FormInput from '@/components/FormInput.vue';
import toastr from 'toastr';
import DettaglioRicetta from './dettaglioRicetta.vue';
import { ConfigServices } from '@/services/configServices';
import FormSelect from '@/components/FormSelect.vue';

@Component({
    components: {
        Autocomplete,
        FormInput,
        DettaglioRicetta,
        FormSelect
    }
})
export default class NuovaRicettaView extends Vue {
    ricetta: OM.Ricetta = new OM.Ricetta();
    ingredientiVm: VM.IngredienteVm[] = [];
    basiVm: OM.Ricetta[] = [];
    tempIngrediente: string = '';
    tempBase: string = '';
    formtype:string ="";
    loaded: boolean = false;
    classiRicetta: string[] = [];
    created(){
        IngredientiServices.GetAll()
        .then( x => {
            this.ingredientiVm = x;
            ConfigServices.config.then(x => {
                this.classiRicetta = x.classificazioniRicette;
                RicettaServices.GetBasi().then(x => {
                    this.basiVm = x;
                    this.loaded = true;
                })
            })
        })
        .catch( err => {
            console.log(err);
        })
    }
    save(){
        RicettaServices.Save(this.ricetta)
        .then( x => {
            toastr.success("Ricetta salvata");
        })
        .catch( err => {
            toastr.error("Errore salvataggio ricetta");
        })
    }
    removeIngrediente(index: number){
        this.ricetta.ingredienti.splice(index, 1);
    }
    removeBase(index: number){
        this.ricetta.basi.splice(index, 1);
    }
    setIngrediente(){
        IngredientiServices.GetById(this.tempIngrediente)
        .then(x => {
            this.ricetta.ingredienti.push({
                quantita: 0,
                quantitaPercentuale:0,
                nome: x.nome,
                dettaglio: x.dettaglio,
                identifier: x.identifier,
                costoAlGrammo: x.costoAlGrammo,
                fornitore: x.fornitore
            });
            this.tempIngrediente = "";
            (<Vue>this.$refs.ingredientiAutocomplete).$el.querySelector('input').focus();
        })
    }
    setBase(){
        RicettaServices.GetById(this.tempBase)
        .then(x => {
            this.ricetta.basi.push({
                identifier: x.identifier,
                ingredienti: x.ingredienti,
                nome: x.nome,
                quantita: 0
            });
            this.tempBase = "";
            (<Vue>this.$refs.baseAutocomplete).$el.querySelector('input').focus();
        })
    }
    
}
</script>
