<template>
    <div class="panelWhite" v-if="loaded">

        <div class="row">
            <div class="col-sm-12">
                        <h2 class="text-success">Gestione Ricetta </h2>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12">
                     <div class="row">
                          <div class="col-sm-6"> 
                                <form-input type="text" label="Nome Ricetta" language="ricette_detail_nome" v-model="ricetta.nome"></form-input>

                                <form-input type="checkbox" label="Salva come base" v-if="ricetta.basi.length == 0" v-model="ricetta.isBase"></form-input>

                                <form-select label="Classificazione ricetta">
                                    <select class="form-control" v-model="ricetta.classificazione" formtype="horizontal">
                                        <option value=""></option>
                                        <option v-for="(item, i) in classiRicetta" :key="i" :value="item">
                                            {{item}}
                                        </option>
                                    </select>
                                </form-select>
                          </div>
                          <div class="col-sm-6"> 
                               <form-input type="number" label="OVER-RUN" language="ricette_detail_nome" v-model="ricetta.overrun"></form-input>

                               <form-input type="text" label="Descrizione preparazione" language="ricette_detail_nome" v-model="ricetta.descrizionePreparazione"></form-input>

                                <form-input type="text" label="Note" language="ricette_detail_nome" v-model="ricetta.note"></form-input>

                                <form-input type="number" label="ORDINE DI PRODUZIONE" language="ricette_detail_nome" v-model="ricetta.ordineDiProduzione"></form-input>
                          </div>
                     </div>

                  


                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Aggiungi Ingrediente</label>
                        <div class="col-sm-9">
                                <autocomplete ref="ingredientiAutocomplete" :source="ingredientiVm" objKey="nomeIngredienteFornitore" objValue="identifier" v-model="tempIngrediente" @input="setIngrediente" :clear-on-select="true"></autocomplete>
                            </div>
                    </div>



                    <div class="form-group row" v-if="!ricetta.isBase">
                        <label class="col-sm-3 col-form-label text-right">Aggiungi Base</label>
                        <div class="col-sm-9">
                                <autocomplete ref="baseAutocomplete" :source="basiVm" objKey="nome" objValue="identifier" v-model="tempBase" @input="setBase" :clear-on-select="true"></autocomplete>
                        </div>
                    </div>

                    <br>
                    <hr>



                    <dettaglio-ricetta :ricetta="ricetta" :edit="true"  @removeIngrediente="removeIngrediente" @removeBase="removeBase"></dettaglio-ricetta>



                    <hr />
                    <button type="button" class="btn btn-success btn-block" @click="save"><i class="fa fa-save"></i>  Salva</button>



                </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { RicettaServices } from '@/services/ricettaServices';
import { IngredientiServices } from '@/services/ingredientiServices';
import * as OM from '@/model';
import * as VM from '@/viewModel';
import * as Enum from '@/enum';
import RicetteTable from './ricetteTable.vue';
import DettaglioRicetta from './dettaglioRicetta.vue';
import Autocomplete from '@/components/Autocomplete.vue';
import FormInput from '@/components/FormInput.vue';
import toastr from 'toastr';
import FormSelect from '@/components/FormSelect.vue';
import { ConfigServices } from '@/services/configServices';

@Component({
    components: {
        DettaglioRicetta,
        RicetteTable,
        Autocomplete,
        FormInput,
        FormSelect
    }
})
export default class RicettaDetailView extends Vue {
    ricetta: OM.Ricetta = new OM.Ricetta();
    ingredientiVm: VM.IngredienteVm[] = [];
    basiVm: OM.Ricetta[] = [];
    loaded: boolean = false;
    tempIngrediente: string = '';
    tempBase: string = '';
    classiRicetta: string[] = [];
    created(){
        IngredientiServices.GetAll()
        .then( x => {
            this.ingredientiVm = x;
            RicettaServices.GetById(this.$route.params.identifier)
            .then( x => {
                this.ricetta = x;
                ConfigServices.config.then(x => {
                    this.classiRicetta = x.classificazioniRicette;
                    RicettaServices.GetBasi().then(x => {
                        this.basiVm = x;
                        this.loaded = true;
                    })
                })
            })
            .catch( err => {
                console.log(err);
            })
        })
        .catch( err => {
            console.log(err);
        })
    }
    setIngrediente(){
        IngredientiServices.GetById(this.tempIngrediente)
        .then(x => {
            this.ricetta.ingredienti.push({
                quantita: 0,
                quantitaPercentuale:0,
                nome: x.nome,
                dettaglio: x.dettaglio,
                identifier: x.identifier,
                costoAlGrammo: x.costoAlGrammo,
                fornitore: x.fornitore               
            });
            this.tempIngrediente = "";
            (<Vue>this.$refs.ingredientiAutocomplete).$el.querySelector('input').focus();
        })
    }
    setBase(){
        RicettaServices.GetById(this.tempBase)
        .then(x => {
            this.ricetta.basi.push({
                identifier: x.identifier,
                ingredienti: x.ingredienti,
                nome: x.nome,
                quantita: 0
            });
            this.tempBase = "";
            (<Vue>this.$refs.baseAutocomplete).$el.querySelector('input').focus();
        })
    }
    removeIngrediente(index: number){
        this.ricetta.ingredienti.splice(index, 1);
    }
    removeBase(index: number){
        this.ricetta.basi.splice(index, 1);
    }
    save(){
        RicettaServices.Save(this.ricetta)
        .then( x => {
            toastr.success("Ricetta salvata");
        })
        .catch( err => {
            toastr.error("Errore salvataggio ricetta");
        })
    }
}
</script>
