<template>
    <div class="panelWhite">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-success" v-language="'ricette_title'"><b>Ricette</b> </h2>
            </div>
            <div class="col-md-4" v-if="isAdminOrCustomer()">
                <router-link to="/ricette/new" class="btn btn-success btn-block">
                    <i class="mdi mdi-cup"></i> NUOVA RICETTA
                </router-link>
            </div>            
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span v-if="vm.length == 0" v-language="'ricette_notfound'"> Nessuna Ricetta a Sistema </span>
                <ricette-table :row-data="vm"></ricette-table>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { RicettaServices } from '@/services/ricettaServices';
import * as OM from '@/model';
import * as Enum from '@/enum';
import RicetteTable from './ricetteTable.vue';

@Component({
    components: {
        RicetteTable
    }
})
export default class RicetteView extends Vue {
    vm: OM.Ricetta[] = [];
    statiOrdine = Enum.EnumToList(Enum.StatoOrdine);
    created(){
        RicettaServices.GetAll()
        .then( x => {
            this.vm = x;
        })
        .catch( err => {
            console.log(err);
        })
    }

    isAdminOrCustomer() {
        if(this.$store.state.loginData.userRole == Enum.UserRole.Admin || this.$store.state.loginData.userRole == Enum.UserRole.Cliente){
          return true;
        }
        return false
    }
            
}
</script>
