<template>
    <div>
        <div class="accordion" :class="openThis ? 'open' : ''">
            <div class="accordionTitle" @click="openThis = !openThis">
                <slot name="title"></slot>
                <transition name="fade">
                    <div class="accordionButton" key="up" v-if="openThis">
                        <button type="button">
                            <i class="fa fa-caret-up"></i>
                        </button>
                    </div>
                    <div class="accordionButton" key="down" v-if="!openThis">
                        <button type="button">
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </div>
                </transition>
            </div>
            <transition name="fade">
                <div class="accordionBody" :class="{'indent': indent}" v-show="openThis">
                    <slot></slot>
                </div>
            </transition>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
@Component
export default class Accordion extends Vue {
    @Prop() open: boolean;
    @Prop({
        default: false
    }) indent: boolean;
    openThis: boolean = false;
    created(){
        if(this.open){
            this.openThis = true;
        }
    }
}

</script>

<style scoped>

    .accordion .accordionTitle {
        position: relative;
        background: whitesmoke;
        padding: 5px 5px 0px 35px;
        border-radius: 4px;
        cursor: pointer;
    }

    .accordion .accordionButton {
        position: absolute;
        left: 5px;
        top: 0px;
    }

    .accordion .accordionButton button {
        background: none;
        border: none;
        width: 33px;
        height: 33px;
    }

    .accordion .accordionBody.indent {
        padding-left: 20px;
    }

</style>
