<template>
    <div class="autocomplete">
        <input type="text" class="form-control" :class="inputClass"
            @input="onChange" 
            v-model="search" 
            @keyup.down="onArrowDown"
            @keyup.up="onArrowUp" 
            @keyup.enter="select" 
            @keydown.tab="select" />
        <ul v-show="isOpen" class="autocomplete-results">
            <li class="loading" v-if="isLoading">
                <i class="fa fa-spin fa-spinner"></i>
            </li>
            <li v-else v-for="(result, i) in results" :key="i" @click="setResult(result)" 
                class="autocomplete-result" :class="{ 'is-active': i === arrowCounter }">
                {{result[objKey] || result}}
            </li>
        </ul>
    </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import { isArray } from 'util';

@Component
export default class Autocomplete extends Vue {
    @Prop({
        type: [Object, Array, Promise],
        default: []
    }) source: any;
    @Prop() objKey: string;
    @Prop() objValue: string;
    @Prop({
        type: [Object, String],
    }) value: any;
    @Prop() allowAny: boolean;
    @Prop() clearOnSelect: boolean;
    @Prop() inputClass: string;
    isOpen: boolean = false;
    localItems: any[];
    results: any[] = [];
    search: string = '';
    isLoading: boolean = false;
    arrowCounter: number = 0;
    created(){
        this.search = this.value;
        if(isArray(this.source)){
            this.localItems = this.source;
        } else {
            this.source.then( (x: any) => {
                this.localItems = x;
            })
        }
    }
    mounted(){
        document.addEventListener('click', this.handleClickOutside)
    }
    destroyed() {
        document.removeEventListener('click', this.handleClickOutside)
    }
    onChange() {
        this.filterResults();
        this.arrowCounter = 0;
        this.isOpen = true;
    }
    filterResults() {
        if(this.objKey){
            this.results = this.localItems.filter((item: any) => {
                return item[this.objKey].toLowerCase().indexOf(this.search.toLowerCase()) > -1;
            });
        } else {
            this.results = this.localItems.filter((item: any) => {
                return item.toLowerCase().indexOf(this.search.toLowerCase()) > -1;
            });
        }
    }
    setResult(result: any, raw: boolean = false) {
        if(raw){
            this.$emit('input', result);
            return;
        }
        if(this.objValue){
            this.$emit('input', result[this.objValue]);
        } else {
            this.$emit('input', result);
        }
        if(this.objKey) {
            this.search = result[this.objKey];
        } else {
            this.search = result;
        }
        if(this.clearOnSelect) {
            this.search = "";
        }
        this.isOpen = false;
    }
    onArrowDown(evt: any) {
        if (this.arrowCounter < this.results.length -1) {
            this.arrowCounter = this.arrowCounter + 1;
        }
    }
    onArrowUp() {
        if (this.arrowCounter > 0) {
            this.arrowCounter = this.arrowCounter -1;
        }
    }
    select() {
        if(this.results.length == 0){
            if(this.allowAny) {
                this.setResult(this.search, true);
            } else {
                this.search = "";
            }
        } else {
            if(this.isOpen){
                if(this.objKey)
                    this.search = this.results[this.arrowCounter][this.objKey];
                else
                    this.search = this.results[this.arrowCounter];
                this.setResult(this.results[this.arrowCounter]);
                this.isOpen = false;
                this.arrowCounter = 0;
            }
        }
    }
    @Watch('localItems')
    watcher(val: any, oldValue: any){
        // actually compare them
        if (val.length !== oldValue.length) {
            this.results = val;
        }
        this.isLoading = false;
    }
    handleClickOutside(ev: any) {
        if (!this.$el.contains(ev.target)) {
            this.isOpen = false;
            this.arrowCounter = -1;
        }
        if(this.allowAny) {
            this.setResult(this.search, true);
            return;
        } 
    }
}
</script>
<style>
    .autocomplete {
        position: relative;
    }

    .autocomplete-results {
        padding: 0;
        margin: 0;
        border: 1px solid #eeeeee;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        overflow: auto;
        width: 100%;
        min-width:320px!important;
        position: absolute;
        z-index: 9999;
        background: white;
        box-shadow: 2px 2px 5px #686868;
        max-height: 30vh;
    }

    .autocomplete-result {
        padding-left: 10px;
        list-style: none;
        text-align: left;
        padding: 6px 8px;
        cursor: pointer;
    }

    .autocomplete-result.is-active,
    .autocomplete-result:hover {
        background-color: rgb(0, 143, 54);
        color: white;
    }
</style>