<template>
    <div>
        <div class="row">
            <div class="col-sm-3" v-if="immagine">
                <img class="img-responsive" :src="value.immagine || 'https://dummyimage.com/600x400/ffffff/2f393d'"/>
                <div class="form-group">
                    <input type="file" value="" @change="onFileSelect"  />
                </div>
            </div>
            <div :class="immagine ? 'col-sm-9' : 'col-sm-12'">
                <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">Identificativo</label>
                        <div class="col-sm-9">
                                <div v-show="errors.has('Nome Prodotto')" class="vee-error"> - <span>{{errors.first('Nome Prodotto')}}</span></div>
                                <autocomplete :source="productNames" input-class="text-uppercase" label=""
                                    obj-key="nome" obj-value="nome" 
                                    v-model="value.nome" :allow-any="true" v-validate="'required'" name="Nome Prodotto" placeholder="TEST"  >
                                </autocomplete>
                        </div>
                </div>

                <form-select label="Seleziona Fornitore" formtype="horizontal">
                    <div v-show="errors.has('fornitore')" class="vee-error"> - <span>{{errors.first('fornitore')}}</span></div>
                        <select class="form-control" v-model="fornitoreIndex" @change="setFornitore" v-validate="'required'" name="fornitore" placeholder="Seleziona un fornitore..">
                        <option v-for="(item, index) in fornitori" :key="item.identifier" :value="index">
                            {{item.nome}}
                        </option>
                    </select>
                </form-select>
                <form-input type="number" v-model="value.prezzoDiListino" label="Prezzo di Listino €" placeholder="Prezzo di listino" validate="required"  formtype="horizontal"></form-input>
                <form-input type="number" v-model="value.quantitaMillesimale" label="Quantità in kg o litri"  v-if="tipoProdotto == 1" placeholder="Quantità in kg o litri" :validate="'required'" formtype="horizontal"></form-input>
                <form-input type="number" v-model="value.quantitaUnitaria" label="Quantità unitaria"  v-if="tipoProdotto == 2" placeholder="Quantità unitaria" :validate="'required'" formtype="horizontal"></form-input>
            </div>
        </div>

        <span class="titleInline">Caratteristiche</span>

        <button type="button" class="btn btn-success" @click="addProperty" v-show="value.proprieta.length < 3">
            <i class="fa fa-plus"></i>
        </button>

        <div class="row" v-for="(item, index) in value.proprieta" :key="index">
            <div class="col-sm-5">
                <autocomplete :source="propertyNames" v-model="item.key"  input-class="text-uppercase"  :allow-any="true" placeholder="chiave /tipo" ></autocomplete>
            </div>
            <div class="col-sm-5">
            <form-input type="text" input-class="text-uppercase" placeholder="Valore" v-model="item.value" formtype="horizontal"></form-input>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger" @click="removeProperty(index)">
                    <i class="fa fa-minus"></i>
                </button>
            </div>

        </div>



    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import { UserServices } from '@/services/userServices';
import { FornitoreServices } from '@/services/fornitoreServices';
import { ProdottoServices } from '@/services/prodottoServices';
import * as VM from '@/viewModel';
import * as OM from '@/model';
import * as Enum from '@/enum';
import toastr from 'toastr';
import FormInput from '@/components/FormInput.vue';
import FormSelect from '@/components/FormSelect.vue';
import EnumSelect from '@/components/EnumSelect.vue';
import Autocomplete from '@/components/Autocomplete.vue';

@Component({
    components: {
        FormInput,
        FormSelect,
        EnumSelect,
        Autocomplete
    }
})
export default class DatiBaseProdotto extends Vue {
    
    @Prop({
        type: [ VM.NewProdottoVm, Object ]
    }) value: VM.NewProdottoVm;
    @Prop({
        type: [Object, Number],
        required: true
    }) tipoProdotto: Enum.TipoProdotto;
    // tipiProdotto = Enum.EnumToList(Enum.TipoProdotto);
    @Prop() immagine: boolean;
    formtype: string;
    fornitori: VM.NomeIdentifier[] = [];
    fornitoreIndex: number = null;
    productNames: Promise<any> = null;
    propertyNames: Promise<any> = null;
    created(){
        this.productNames = ProdottoServices.GetNomiProdotti(false);
        this.propertyNames = ProdottoServices.GetAllProprietaNames(false);
        FornitoreServices.GetNomeIdentifier().then(x => {
            this.fornitori = x;
            this.fornitori.some( (k, index) => {
                if(k.identifier == this.value.fornitoreIdentifier){
                    this.fornitoreIndex = index;
                    return true;
                }
            })
        });
    }

    addProperty(){
        this.value.proprieta.push(new OM.KeyValuePair("",""));
    }

    removeProperty(index: number){
        this.value.proprieta.splice(index, 1);
    }

    setFornitore(){
        if(this.fornitoreIndex != null && this.fornitoreIndex != undefined){
            this.value.fornitoreIdentifier = this.fornitori[this.fornitoreIndex].identifier;
            this.value.fornitore = this.fornitori[this.fornitoreIndex].nome;
        }
    }

    onFileSelect(event: any) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.readAsDataURL(file);

        reader.onload = () => {
            this.value.immagine = reader.result;
        };
    }

    @Watch('value')
    modelChange(){
        this.$emit('input', this.value);
    }
}
</script>
