<template>
    <div class="form-group">
        <label class="control-label">{{label}}</label>
        <select class="form-control" @change="onChange" :value="value" :disabled="disabled">
            <option value="" v-if="placeholder">-- {{placeholder}} --</option>
            <option v-for="(value, key) in options" :key="key" :value="key">
                {{value}}
            </option>
        </select>
        <div class="inputIcon">
            <i class="fa fa-sort-desc"></i>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class EnumSelect extends Vue {
    @Prop({
        type: [Object]
    }) options: string[];
    @Prop() label: string;
    @Prop() placeholder: string;
    @Prop({
        type: [Object, String, Number]
    }) value: any;
    @Prop() disabled: boolean;
    onChange(ev: any){
        this.$emit('input', ev.target.value);
    }
}
</script>
<style scoped>
    .form-group {
        position: relative;
    }
    .form-control {
        padding-left: 30px;
    }
    .inputIcon {
        position: absolute;
        left: 12px;
        top: 32px;
        color: #5b5b5b;
    }
</style>
