<template>
    <div class="form-group" v-if="formtype != 'horizontal'">

        <label class="control-label">{{label}}</label>
        <slot>
            <!-- <select class="form-control" :value="value" @change="onChange">
                <option value="" v-if="placeholder">-- {{placeholder}} --</option>
                <option v-for="(opt, index) in options" :key="index" :value="index">
                    {{opt}}
                </option>
            </select> -->
        </slot>
        <div class="inputIcon">
            <i class="fa fa-sort-desc"></i>
        </div>
    </div>

    <div class="form-group row" v-else>

            <label class="col-sm-3 col-form-label text-right">{{label}}</label>
            <div class="vee-error" style="display: none;"><span></span></div>
            <div class="col-sm-9">
                            <slot>
                                <!-- <select class="form-control" :value="value" @change="onChange">
                                    <option value="" v-if="placeholder">-- {{placeholder}} --</option>
                                    <option v-for="(opt, index) in options" :key="index" :value="index">
                                        {{opt}}
                                    </option>
                                </select> -->
                            </slot>

                </div>

    </div>



</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class FormSelect extends Vue {
    @Prop() formtype: string;
    @Prop() label: string;
    // @Prop({
    //     type: [Object, String, Number, Array]
    // }) options: string[];
    // @Prop() placeholder: string;
    // @Prop({
    //     type: [Object, String, Number, Array]
    // }) value: any;
    // onChange(ev: any){
    //     this.$emit('input', this.options[ev.target.value]);
    // }
}
</script>
<style scoped>
    .form-group {
        position: relative;
    }
    .form-control {
        padding-left: 30px;
    }
    .inputIcon {
        position: absolute;
        left: 12px;
        top: 32px;
        color: #5b5b5b;
    }
</style>
