<template>
    <!-- FORM INLINE CLASSICA -->

    <div class="form-group" v-if="formtype != 'horizontal'">
        <label class="control-label" v-language="language">{{label}}</label>
        <div v-show="errors.has(name)" class="vee-error"> - <span>{{errors.first(name)}}</span></div>
        <div class="relative">

            <div class="inputIcon" v-if="inputIconClass">
                <i :class="inputIconClass"></i>
            </div>

            <div class="inputIcon" v-else>
                <i class="fa fa-font" v-if="type=='text'"></i>
                <i class="fa fa-pencil" v-if="type=='number'"></i>
                <i class="fa fa-phone" v-if="type=='tel'"></i>
                <i class="fa fa-lock" v-if="type=='password'"></i>
                <i class="fa fa-calendar" v-if="type=='date'"></i>
            </div>

            <input v-if="type=='number'" 
                class="form-control" 
                ref="inputTag" 
                :class="inputClass" 
                v-validate="validate" :name="name"
                type="number" :placeholder="placeholder" 
                v-model.number="localValue" @input="onChange"
                :disabled="localDisabled"
                :required="required" data-vv-delay="800" />

            <input v-else 
                class="form-control"
                ref="inputTag" 
                :class="inputClass" 
                v-validate="validate" :name="name"
                :type="showPassword ? 'text' : type" :placeholder="placeholder" 
                v-model="localValue" @input="onChange" @change="type == 'checkbox' && onChange()"
                :disabled="localDisabled"
                :required="required" data-vv-delay="800" />
            <button class="showPassword" type="button" v-if="type=='password'" @click="showPassword=!showPassword">
                Mostra
            </button>
        </div>
    </div>


    <!-- FORM HORIZONTAL  -->

    <div class="form-group row" v-else>
       
                            <label class="col-sm-3 col-form-label text-right" v-language="language">{{label}}</label>
                            <div v-show="errors.has(name)" class="vee-error"> - <span>{{errors.first(name)}}</span></div>
        
        
        <div class="col-sm-9">
                        <div class="input-group">

                          <div class="input-group-prepend">


                                            <span class="input-group-text" v-if="inputIconClass">
                                                <i :class="inputIconClass"></i>
                                            </span>
                                            
                                            <span class="input-group-text" v-else>
                                                <i class="fa fa-font" v-if="type=='text'"></i>
                                                <i class="fa fa-pencil" v-if="type=='number'"></i>
                                                <i class="fa fa-phone" v-if="type=='tel'"></i>
                                                <i class="fa fa-lock" v-if="type=='password'"></i>
                                                <i class="fa fa-calendar" v-if="type=='date'"></i>
                                            </span>


                          </div>

                                            <input v-if="type=='number'" 
                                                class="form-control" 
                                                ref="inputTag" 
                                                :class="inputClass" 
                                                v-validate="validate" :name="name"
                                                type="number" :placeholder="placeholder" 
                                                v-model.number="localValue" @input="onChange"
                                                :disabled="localDisabled"
                                                :required="required" data-vv-delay="800" />

                                            <input v-else 
                                                class="form-control"
                                                ref="inputTag" 
                                                :class="inputClass" 
                                                v-validate="validate" :name="name"
                                                :type="showPassword ? 'text' : type" :placeholder="placeholder" 
                                                v-model="localValue" @input="onChange" @change="type == 'checkbox' && onChange()"
                                                :disabled="localDisabled"
                                                :required="required" data-vv-delay="800" />
                                                
                                            <button class="showPassword" type="button" v-if="type=='password'" @click="showPassword=!showPassword">
                                                Mostra
                                            </button>

                            </div>      
        </div>
    </div>

</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';

@Component
export default class FormInput extends Vue {
    @Prop() formtype: string;
    @Prop() inputIconClass: string;
    @Prop() inputClass: string;
    @Prop() type: string;
    @Prop({required: true}) label: string;
    @Prop() placeholder: string;
    @Prop({type: [Object, String, Number, Boolean]}) value: any;

    @Prop({
        type: String,
        default: ""
    }) language: string;
    @Prop({
        type: Boolean,
        default: false
    }) required: boolean;
    @Prop() validate: string;
    @Prop() disabled: boolean;
    localDisabled: boolean = false;
    @Watch('disabled')
    onDisabledChange(prev, next){
        this.localDisabled = next;
    }
    name: string = "";
    showPassword: boolean = false;
    localValue: any = "";
    created(){
        this.localValue = this.value;
        if(this.validate != undefined)
            this.name = this.label;//.replace(/[' ",.@]+/g, '');
    }

    @Watch('value')
    onValueChange(next, prev){
        this.localValue = next;
    }

    mounted(){
        if(this.type == "checkbox"){
            if(this.localValue){
                (<any>this.$refs.inputTag).checked = true;
            }
        } else if (this.type == "date"){
            if(this.localValue){
                let splitted = this.localValue.split('T');
                if(splitted.length > 1){
                    (<any>this.$refs.inputTag).value = splitted[0];
                }
            }
        }
    }
    onChange(ev: any){
        this.$emit('input', this.localValue);
        // if(this.type == "checkbox"){
        //     this.$emit('input', ev.target.checked);
        // } else if(this.type == 'number') {
        //     this.$emit('input', ev.target.value ? parseFloat(ev.target.value) : '');
        // } else {
        //     this.$emit('input', ev.target.value);
        // }
    }
}
</script>

<style scoped>
    .relative {
        position: relative;
    }
    .form-control {
        padding-left: 30px;
    }
    .inputIcon {
        position: absolute;
        left: 12px;
        top: 7px;
        color: #5b5b5b;
    }
    input[type="checkbox"] {
        width: 30px;
        height: 30px;
    }
    button.showPassword {
        position: absolute;
        top: 6px;
        right: 2px;
        background: none;
        border: none;
    }
    button.showPassword:focus, button.showPassword:active {
        background: none;
        border: none;
        outline: none;
    }
</style>
