<template>
    <div class="form-group">
        <div class="row">
                        <label class="col-xs-12 col-sm-3 col-form-label text-right">Indirizzo</label>
                        <div class="col-xs-12 col-sm-9">
                                <div class="input-group">
                                <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-globe"></i></span>
                                </div>
                                <input type="text" :value="value.typedAddress" ref="autocomplete" class="form-control"  placeholder="Location">
                                </div>
                        </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Address } from '@/model';

@Component
export default class GoogleAutocomplete extends Vue {
    
    @Prop({
        type: [Address, Object]
    }) value: Address;

    localValue: Address = null;

    created(){
        this.localValue = this.value;
    }

    inputEl: any = null;
    autocomplete: any;
    mounted(){
        this.inputEl = this.$refs.autocomplete;
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        this.autocomplete = new google.maps.places.Autocomplete(this.inputEl, { types: ['geocode', 'establishment'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        this.autocomplete.addListener('place_changed', this.fillAddress);
        
        navigator.geolocation.getCurrentPosition((position) => {
            var geolocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
                center: geolocation,
                radius: position.coords.accuracy
            });
            this.autocomplete.setBounds(circle.getBounds());
        });
    }

    fillAddress(data: any){
        var place = this.autocomplete.getPlace();
        place.address_components.forEach(x => {
            if(x.types.indexOf('street_number') > -1)
                this.localValue.streetNumber = x.short_name;
            else if(x.types.indexOf('route') > -1)
                this.localValue.route = x.short_name;
            else if(x.types.indexOf('locality') > -1)
                this.localValue.locality = x.short_name;
            // else if(x.types.indexOf('administrative_area_level_3') > -1)
            //     this.localValue.locality = x.short_name;
            else if(x.types.indexOf('administrative_area_level_2') > -1)
                this.localValue.province = x.short_name;
            else if(x.types.indexOf('administrative_area_level_1') > -1)
                this.localValue.region = x.short_name;
            else if(x.types.indexOf('country') > -1)
                this.localValue.country = x.short_name;
            else if(x.types.indexOf('postal_code') > -1)
                this.localValue.postalCode = x.short_name;
            // if(x.types.indexOf('street_address') == -1)
            //     this.localValue.name = place.name;
        });
        this.localValue.typedAddress = place.formatted_address;
        this.localValue.latitude = place.geometry.location.lat();
        this.localValue.longitude = place.geometry.location.lng();
        this.$emit('input', this.localValue);
    }

}
</script>
