<template>
    <div class="languageEdit" :class="{ 'open': showEditor }">
        <a @click="showEditor = !showEditor" @click.stop.prevent>
            <i class="fa fa-language"></i>
        </a>
        <button type="button" class="btn btn-danger closeLanguage" v-show="showEditor" 
            @click.stop.prevent="showEditor = false">
            <i class="fa fa-close"></i>
        </button>
        <div class="languageEditor" v-if="showEditor" @click.stop.prevent>
            <div class="form-group" v-for="(val, prop) in translations" :key="prop">
                <label class="form-label">{{prop}}</label>
                <input type="text" class="form-control" v-model="translations[prop]" />
            </div>
            <button type="button" class="btn btn-primary btn-sm" @click="save">Salva</button>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { ConfigServices } from '@/services/configServices';

@Component
export default class LanguagesComponent extends Vue {
    showEditor: boolean = false;
    @Prop() transKey: string;
    @Prop() translations: any;
    save(ev: any){
        ConfigServices.SaveTranslation({
            key: this.transKey,
            dict: this.translations
        });
        this.showEditor = false;
    }
}
</script>

<style scoped>
    .languageEdit {
        z-index: 9999;
        transform: translateZ(80px);
        position: relative;
        background: whitesmoke;
        border: 1px solid black;
        padding: 10px;
        z-index: 9999;
        max-width: 40px;
        text-align: center;
        top: -6px;
    }

    .languageEdit.open {
        max-width: unset;
    }

    .closeLanguage {
        position: absolute;
        top: 3px;
        right: 3px;
    }
    
    a {
        color: white;
        text-shadow: 1px 1px 1px black;
    }
</style>
