<template>
    <div>
        <button type="button" class="btn btn-success" @click="add">
            <i class="fa fa-plus"></i>
        </button>
        <div v-for="(item, index) in obj" :key="index" class="row">
            <div class="col-sm-8">
                <input type="text" class="form-control" v-model="item.value" @change="onChange" />
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-danger" @click="remove(index)">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import FormInput from '@/components/FormInput.vue';
import * as OM from '@/model';

@Component({
    components: {
        FormInput
    }
})
export default class Produttori extends Vue {
    @Prop() value: any[];
    obj: { value: string }[] = [];

    @Watch('value')
    onValueChange(){
        this.obj = [];
        if(this.value){
            this.value.forEach(x => {
                this.obj.push( { value: x });
            })
        }
    }
    add(){
        this.obj.push( { value: '' });
        this.onChange();
    }
    remove(index: number){
        this.obj.splice(index, 1);
        this.onChange();
    }
    onChange(){
        let vals: string[] = [];
        this.obj.forEach(x => {
            vals.push(x.value);
        });
        this.$emit('input', vals);
    }
}
</script>
