<template>
    <div class="panelWhite">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-success">Produzione Ricetta: <b> {{ricetta.nome}} </b> </h2>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-success btn-block" @click="saveProduzioneGiornaliera">
                    <i class="mdi mdi-history"></i> SALVA PRODUZIONE
                </button>
            </div>
        </div>
        <div class="row mB40">
            <div class="col-sm-12" v-if="ricetta.nome">
                <form-input type="number" label="PRODUZIONE TOTALE Gr: " placeholder="Totale" v-model="gelatoTotale" @input="calcolaIngredienti" ></form-input>
                <div v-for="(item, i) in ricetta.basi" :key="item.identifier">
                    <form-input type="number" :label="item.nome" :formtype="horizontal" :placeholder="item.nome" v-model="quantitaBasi[i]" @input="calcolaAltriIngredienti(i, true)"></form-input>
                </div>
                <div v-for="(item, i) in ricetta.ingredienti" :key="item.identifier">
                    <form-input type="number" :label="item.nome" :formtype="horizontal" :placeholder="item.nome" v-model="quantitaIngredienti[i]" @input="calcolaAltriIngredienti(i)"></form-input>
                </div>
                <hr />
                <div class="col-sm-3 text-right bold">
                        costo totale produzione:
                </div>
                <div class="col-sm-9 text-left bold">
                        <i class="fa fa-eur"></i> {{costoProduzione.toFixed(2)}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-success">Composizione: <b> {{ricetta.nome}} </b> </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <dettaglio-ricetta :ricetta="ricetta"></dettaglio-ricetta>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { RicettaServices } from '@/services/ricettaServices';
import { StoricoProduzioneServices } from '@/services/storicoProduzioneServices';
import * as OM from '@/model';
import Autocomplete from '@/components/Autocomplete.vue';
import DettaglioRicetta from '@/views/ricette/dettaglioRicetta.vue';
import FormInput from '@/components/FormInput.vue';
import store from '@/store';
import toastr from 'toastr';

@Component({
    components: {
        Autocomplete,
        DettaglioRicetta,
        FormInput
    }
})
export default class GelatoRicettaView extends Vue {
    ricetta: OM.Ricetta = new OM.Ricetta();
    gelatoTotale: number = 0;
    costoProduzione: number = 0;
    quantitaIngredienti: number[] = [];
    quantitaBasi: number[] = [];
    produzioneSavedAlready: boolean = false;
    created(){
        RicettaServices.GetById(this.$route.params.ricettaIdentifier)
        .then( x => {
            this.ricetta = x;
            this.quantitaIngredienti = [];
            this.ricetta.ingredienti.forEach(x => {
                this.quantitaIngredienti.push(0);
            });
            this.ricetta.basi.forEach(x => {
                this.quantitaBasi.push(0);
            })
        })
        .catch( err => {
            console.log(err);
        })
    }
    saveProduzioneGiornaliera(){
        if(this.produzioneSavedAlready){
            if(!confirm("Hai già salvato questa ricetta nella produzione giornaliera. Vuoi salvarla di nuovo?")){
                return;
            }
        }
        let produzione: OM.StoricoProduzione = new OM.StoricoProduzione();
        let ingredientiUsati: OM.ConsumoIngrediente[] = [];
        this.ricetta.ingredienti.forEach((x, i) => {
            ingredientiUsati.push({
                ingredienteIdentifier: x.identifier,
                nomeIngrediente: x.nome,
                quantita: this.quantitaIngredienti[i]
            });
        });
        produzione.userIdentifier = store.state.loginData.userIdentifier;
        produzione.ricettaIdentifier = this.ricetta.identifier;
        produzione.nomeRicetta = this.ricetta.nome;
        produzione.quantitaGelato = this.gelatoTotale;
        produzione.ingredientiUsati = ingredientiUsati;
        StoricoProduzioneServices.Create(produzione)
        .then(x => {
            this.produzioneSavedAlready = true;
            toastr.success("Produzione salvata");
        })
    }
    calcolaAltriIngredienti(indexToExclude, isBase){
        if(isBase)
            this.gelatoTotale = 100 * this.quantitaBasi[indexToExclude] / this.ricetta.basi[indexToExclude].quantita;
        else
            this.gelatoTotale = 100 * this.quantitaIngredienti[indexToExclude] / this.ricetta.ingredienti[indexToExclude].quantita;
        if(isBase){
            this.quantitaIngredienti.forEach((x, i) => {
                this.quantitaIngredienti[i] = this.gelatoTotale * this.ricetta.ingredienti[i].quantita / 100;
            });
            this.quantitaBasi.forEach((x,i) => {
                if(i != indexToExclude){
                    this.quantitaBasi[i] = this.gelatoTotale * this.ricetta.basi[i].quantita / 100;
                }
            })
        } else {
            this.quantitaIngredienti.forEach((x, i) => {
                if(i != indexToExclude){
                    this.quantitaIngredienti[i] = this.gelatoTotale * this.ricetta.ingredienti[i].quantita / 100;
                }
            });
            this.quantitaBasi.forEach((x, i) => {
                this.quantitaBasi[i] = this.gelatoTotale * this.ricetta.basi[i].quantita / 100;
            })
        }
        this.calcolaCostoProduzione();
    }
    calcolaIngredienti(){
        this.quantitaIngredienti.forEach((x, i) => {
            this.quantitaIngredienti[i] = this.quantitaFromPercentuale(this.ricetta.ingredienti[i].quantita);
        })
        this.quantitaBasi.forEach((x, i) => {
            this.quantitaBasi[i] = this.quantitaFromPercentuale(this.ricetta.basi[i].quantita);
        })
        this.calcolaCostoProduzione();
    }
    calcolaCostoProduzione(){
        this.costoProduzione = 0;
        this.ricetta.ingredienti.forEach((x, index) => {
            this.costoProduzione += x.costoAlGrammo * this.quantitaIngredienti[index];
        })
        this.ricetta.basi.forEach((base, index) => {
            let costoBase = 0;
            base.ingredienti.forEach(x => {
                costoBase += x.costoAlGrammo * ((this.quantitaBasi[index] * x.quantita) / 100);
            })
            this.costoProduzione += costoBase;
        })
    }
    quantitaFromPercentuale(percentuale){
        return this.gelatoTotale * percentuale / 100;
    }
}
</script>
