<template>
<div>

        <div class="row">
            <div class="col-sm-10">
                        <h2 class="text-success">Seleziona ricetta</h2>
            </div>
            <div class="col-sm-2">
            </div>            
        </div>


    <div class="row card">
        <div class="col-sm-12">



                <div class="mTB20">

                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                          </div>
                          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" v-model="fullTextFilter"  @input="onFilterTextBoxChanged">
                        </div>
                      </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th v-if="$store.state.loginData.userRole == 'Cliente'"></th>
                                <th>Ricetta</th>
                                <th>Classificazione</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(ric, i) in ricetteFiltered" :key="i">
                                <td v-if="$store.state.loginData.userRole == 'Cliente'">
                                    <button type="button" @click="setPreferita(ric)">
                                        <i :class="ric.preferita ? 'fa fa fa-star' : 'fa fa fa-star-o'"></i>
                                        Preferita
                                    </button>
                                </td>                            
                                <td>{{ric.nome}}</td>
                                <td>{{ric.classificazione}}</td>
                                <td><router-link class="btn btn-rounded btn-dark" :to="'/laboratorio/gelato/' + ric.identifier">Seleziona</router-link></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
<br><br><br>



        </div>
    </div>
</div>    
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { RicettaServices } from '@/services/ricettaServices';
import * as OM from '@/model';
import FormInput from '@/components/FormInput.vue';
import toastr from 'toastr';

@Component({
    components: {
        FormInput
    }
})
export default class GelatoView extends Vue {
    fullTextFilter: string = "";
    onFilterTextBoxChanged(){
        this.ricetteFiltered = this.ricette.filter(x => {
            return x.nome.toLowerCase().indexOf(this.fullTextFilter.toLowerCase()) > -1;
        });
    }
    ricette: OM.Ricetta[] = [];
    ricetteFiltered: OM.Ricetta[] = [];
    setPreferita(item: OM.Ricetta){
        RicettaServices.TogglePreferita(item.identifier)
        .then( x => {
            toastr.success("Aggiunta ai preferiti");
            item.preferita = true;
        })
        .catch( err => {
            toastr.error(err.message);
        })
    }
    created(){
        RicettaServices.GetAll()
        .then( x => {
            this.ricette = x;
            this.ricetteFiltered = x;//.slice(0, 10);
        })
        .catch( err => {
            console.log(err);
        })
    }
}
</script>
