<template>
    <div>
        <div class="header-title">
            Laboratorio
        </div>
        <div class="col-sm-12">
            <div class="box shadow">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <router-link to="/laboratorio/ricette" class="btn btn-success">
                            Gelato
                        </router-link>
                    </div>
                    <div class="col-sm-6 text-center">
                        <router-link to="/laboratorio/storicoProduzione" class="btn btn-success">
                            Storico Produzione
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class LaboratorioView extends Vue {
}
</script>
