<template>
    <div class="panelWhite">

        <div class="row">
            <div class="col-sm-10">
                        <h2 class="text-success"><b>Storico Produzione </b> </h2>
            </div>

            <div class="col-sm-12">
                        <span v-if="vm.length == 0" v-language="'storicoProd_novalues'"> testo default</span>
            </div>

            <div class="col-sm-12">
                                <storico-produzione-table :row-data="vm"></storico-produzione-table>
            </div>
        </div>

    </div>

</template>


<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { StoricoProduzioneServices } from '@/services/storicoProduzioneServices';
    import StoricoProduzioneTable from './storicoProduzioneTable.vue';
    import store from '@/store';
import * as OM from '@/model';

@Component({
    components: {
        StoricoProduzioneTable
    }
})
export default class StoricoProduzioneView extends Vue {
    vm: OM.StoricoProduzione[] = [];
    created(){
        StoricoProduzioneServices.GetByUserIdentifier(store.state.loginData.userIdentifier)
        .then( x => {
            this.vm = x;
        })
        .catch( err => {
            console.log(err);
        })
    }
}
</script>
