<template>
    <div>
        
        <div class="mTB20">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" v-model="fullTextFilter" placeholder="Filtra i risultati ..." @input="onFilterTextBoxChanged"/>
                </div>
                </div>
        </div>

        <ag-grid-vue style="width: 100%; height: 800px;"
            class="ag-theme-bootstrap"
            :gridOptions="gridOptions"
            :columnDefs="columnDefs"
            :rowData="rowData"
            :enableSorting="true"
            :floatingFilter="false"
            :animateRows="true"
            :pagination="true"
            :paginationAutoPageSize="true"
        ></ag-grid-vue>

    </div>


</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { ProdottoServices } from '@/services/prodottoServices';
import * as OM from '@/model';
import * as Enum from '@/enum';
import * as AgGrid from 'ag-grid-vue';
import { localeText } from '@/assets/ag-grid-locale';

@Component({
    components: {
        AgGridVue: AgGrid.AgGridVue,
        dateCell: {
            template: `<div>{{params.value | formatDate}}</div>`
        },
        ingredientiCell: {
            template: `<div>
                <div v-for="(item, i) in params.value" :key="i">
                    {{item.nomeIngrediente}} | {{item.quantita}} g
                </div>
            </div>`
        }
    }
})
export default class StoricoProduzioneTable extends Vue {
    @Prop({
        type: Array
    }) rowData: any;
    columnDefs: any[] = [
        {autoHeight: true, suppressMovable: true, headerName: 'Data Produzione', field: 'createdOn', cellRendererFramework: 'dateCell' },
        {autoHeight: true, suppressMovable: true, headerName: 'Nome Ricetta', field: 'nomeRicetta' },
        {autoHeight: true, suppressMovable: true, headerName: 'Q.tà (gr)', field: 'quantitaGelato' }
    ];
    gridOptions: any = {
        localeText: localeText
    };

    fullTextFilter: string = "";
    onFilterTextBoxChanged(){
        this.gridOptions.api.setQuickFilter(this.fullTextFilter);
    }
    mounted(){
        this.gridOptions.api.sizeColumnsToFit();
        window.addEventListener('resize', this.onResize);
    }
    onResize(){
        setTimeout(() => {
            this.gridOptions.api.sizeColumnsToFit();
        });
    }
    destroyed(){
        window.removeEventListener('resize', this.onResize);
    }
}
</script>
