<template>
    <div class="panelWhite">
        <div class="row">
                <div class="col-xs-12">
                        <h2 class="text-success" v-language="'ricette_title'"><b>Configurazione</b> </h2><br ><br >
                </div>


                <div class="col-xs-12 col-sm-6 mTB20">

                        <h3>Lingue disponibili</h3>
                        <primitive-array-for v-model="vm.languages"></primitive-array-for>
                        
                </div>
                <div class="col-xs-12 col-sm-6 mTB20">
                        <h3>Classificazioni Ricette</h3>
                        <primitive-array-for v-model="vm.classificazioniRicette"></primitive-array-for>
                </div>
                
                <div class="col-xs-12 mTB20">


                <h3>Carica Ingredienti interni</h3>
                <file-select v-model="fileIngredienti"></file-select>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" @click="caricaIngredienti">Carica Ingredienti </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-primary" @click="downloadIngredienti">Scarica Ingredienti </button>
                    </div>
                </div>

                
            </div>
            <div class="col-xs-12">
                    <button type="button" @click="saveConfig" class="btn btn-success btn-block">
                        <i class="fa fa-floppy-o"></i> SALVA
                    </button>
            </div>
        </div>        
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import * as OM from '@/model';
import { ConfigServices } from '@/services/configServices';
import PrimitiveArrayFor from '@/components/PrimitiveArrayFor.vue';
import FileSelect from '@/components/FileSelect.vue';
import toastr from 'toastr';

@Component({
    components: {
        PrimitiveArrayFor,
        FileSelect
    }
})
export default class ConfigView extends Vue {
    vm: OM.Config = new OM.Config();
    fileIngredienti: any = null;
    created(){
        ConfigServices.Get()
        .then( x => {
            this.vm = x;
            console.log(this.vm);
        })
        .catch( err => {
            toastr.error("Errore");
        })
    }
    saveConfig(){
        ConfigServices.Save(this.vm)
        .then( x => {
            toastr.success("Salvato");
        })
        .catch( err => {
            toastr.error("Errore");
        });
    }
    caricaIngredienti(){
        ConfigServices.UploadFileIngredienti(this.fileIngredienti)
        .then( x => {
            toastr.success("File caricato");
        })
        .catch( err => {
            toastr.error("Errore");
        });
    }
    downloadIngredienti(){
        ConfigServices.DownloadFileIngredienti()
        .then( x => {
            // console.log(x);

            let blob = new Blob([x], { type: 'application/xls' })
            let link = document.createElement('a')
            link.href = window.URL.createObjectURL(blob)
            link.download = 'ingredienti.xlsx'
            link.click()

            toastr.success("Download completato");
        })
        .catch( err => {
            toastr.error("Errore");
        });
    }
}
</script>
