﻿<!doctype html>
<body>
    <div style="font-family:Open Sans, Segoe UI Light, Segoe UI, Arial, sans-serif;max-width:520px;margin:20px auto;border:1px solid #1e9cd8;padding:40px;font-size:1.5rem;text-transform:none;text-align:center;">
        <h1 style="margin:auto;">
            <a href="http://www.antonio.com">
                <img src="https://images.lacucinaitaliana.it/wp-content/uploads/2015/07/Gelato-Alcolico.jpg" alt="Gelato"
                     style="max-height:164px;height:164px;width:auto;" />
            </a>
        </h1>
        <h2 style="line-height:1.5;margin:auto;font-size:1.5rem;font-weight:100;color:#1e9cd8">{{title}}</h2>
        <div style="text-align:left">
            <div style="border:1px solid #1e9cd8;padding:0 2rem;line-height:2;margin:1rem auto;">{{message}}</div>
        </div>
    </div>
    <div style="text-transform:none;font-size:1rem;max-width:602px;margin:20px auto;padding: 16px 0;
        text-align: center;color: #9e9e9e;background: #f0f0f0;">
        Gelato! - <a href="http://www.antonio.com" style="color:#1e9cd8;">http://www.antonio.com</a>
    </div>
</body>