<template>
    <div>
        <div class="header-title">
            Nuovo ordine
        </div>
        <div class="box shadow text-center col-sm-2">
            <button type="button" :disabled="vm.prodotti.length == 0" @click="save" class="btn btn-primary">
                <i class="fa fa-paper-plane"></i> Invia
            </button>
        </div>
        <div class="col-sm-12">
            <div class="box shadow">
                <button type="button" class="btn btn-primary" @click="addProduct()"><i class="fa fa-plus"></i></button>
                <div class="row" v-for="(item, index) in vm.prodotti" :key="index">
                    <product-selector class="col-sm-12" :articoli-names="articoliNames" :ingredienti-names="ingredientiNames" 
                        v-model="vm.prodotti[index]"></product-selector>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { OrdineServices } from '@/services/ordineServices';
import { ProdottoServices } from '@/services/prodottoServices';
import ProductSelector from './ProductSelector.vue';
import * as OM from '@/model';
import * as VM from '@/viewModel';
import * as Enum from '@/enum';
import toastr from 'toastr';

@Component({
    components: {
        ProductSelector
    }
})
export default class OrdiniView extends Vue {
    vm: OM.Ordine = new OM.Ordine();
    articoliNames: VM.NomeIdentifierTipo[] = [];
    ingredientiNames: VM.NomeIdentifierTipo[] = [];
    created(){
        ProdottoServices.GetNomiProdotti()
        .then( x => {
            this.articoliNames = x.filter(c => c.tipo == Enum.TipoProdotto.Articolo);
            this.ingredientiNames = x.filter(c => c.tipo == Enum.TipoProdotto.Ingrediente);
        });
    }
    addProduct(){
        this.vm.prodotti.push(new OM.ProdottoOrdine());
    }
    removeProduct(index: number){
        this.vm.prodotti.splice(index, 1);
    }
    save(){
        OrdineServices.Create(this.vm)
        .then( x => {
            toastr.success("Ordine inviato");
            //this.$router.push("/ordini");
        })
    }
}
</script>
<style scoped>
    hr {
        width: 80%;
    }
</style>
