<template>
    <div class="panelWhite">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-success" v-language="'ricette_title'"><b>Gestione Ordini</b> </h2>
            </div>
            <div class="col-md-4">
                <router-link to="/ordini/new" class="btn btn-success btn-block">
                    <i class="fa fa-bolt"></i> NUOVO ORDINE
                </router-link>
            </div>            
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!--  <span v-if="vm.length == 0" v-language="'ordini_notfound'">Nessun ordine</span>  -->
                <ordini-table :row-data="vm"></ordini-table>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { OrdineServices } from '@/services/ordineServices';
import * as OM from '@/model';
import * as Enum from '@/enum';
import OrdiniTable from './ordiniTable.vue';

@Component({
    components: {
        OrdiniTable
    }
})
export default class OrdiniView extends Vue {
    vm: OM.Ordine[] = [];
    statiOrdine = Enum.EnumToList(Enum.StatoOrdine);
    created(){
        OrdineServices.GetAll()
        .then( x => {
            this.vm = x;
        })
        .catch( err => {
            console.log(err);
        })
    }
}
</script>
