<template>
    <div>
        <div class="header-title">
            Dettaglio ordine
        </div>
        <div class="col-sm-12">
            <div class="box shadow">
                <ul class="nav nav-tabs">
                    <li :class="{'active': activeTab == 0}">
                        <a @click="activeTab = 0" class="text-success">
                            <i class="fa fa-bookmark-o"></i> Riepilogo
                        </a>
                    </li>
                    <li :class="{'active': activeTab == 1}">
                        <a @click="activeTab = 1" class="text-success">
                            <i class="fa fa-indent"></i> Prodotti
                        </a>
                    </li>
                </ul>
                <div :class="{'active': activeTab == 0}" class="tabContent animated fadeIn" v-show="activeTab == 0">
                    <div class="table-responsive panel">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Codice ordine</td>
                                    <td>{{vm.codiceOrdine}}</td>
                                </tr>
                                <tr>
                                    <td>Cliente</td>
                                    <td>{{vm.nomeCliente}}</td>
                                </tr>
                                <tr>
                                    <td>Stato</td>
                                    <td>{{vm.statoOrdine | statoOrdine}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div :class="{'active': activeTab == 1}" class="tabContent animated fadeIn" v-show="activeTab == 1">
                    <div class="table-responsive panel">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>Prodotto</td>
                                    <td>Fornitore</td>
                                    <td>Prezzo</td>
                                    <td>Quantità</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, i) in vm.prodotti" :key="i">
                                    <td>{{item.nomeProdotto}}</td>
                                    <td>{{item.fornitore}}</td>
                                    <td>{{item.prezzo}}</td>
                                    <td>{{item.quantita}} {{item.unitaDiMisura}}</td>
                                    <td v-if="item.proprieta[0]">
                                        {{item.proprieta[0].key}}: 
                                        {{item.proprieta[0].value}}</td>
                                    <td v-if="item.proprieta[1]">
                                        {{item.proprieta[1].key}}: 
                                        {{item.proprieta[1].value}}</td>
                                    <td v-if="item.proprieta[2]">
                                        {{item.proprieta[2].key}}: 
                                        {{item.proprieta[2].value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { OrdineServices } from '@/services/ordineServices';
import * as OM from '@/model';
import * as Enum from '@/enum';

@Component
export default class OrdineDetailView extends Vue {
    vm: OM.Ordine = new OM.Ordine();
    statiOrdine = Enum.EnumToList(Enum.StatoOrdine);
    activeTab: number = 0;
    created(){
        OrdineServices.GetById(this.$route.params.identifier)
        .then( x => {
            this.vm = x;
        })
        .catch( err => {
            console.log(err);
        })
    }
}
</script>
