<template>
    <div>
        <div class="col-sm-3">
            <form-select label="Nome prodotto">
                <select class="form-control" v-model="selectedName" @change="getFornitoriByName">
                    <optgroup label="Articoli">
                        <option v-for="item in articoliNames" :key="item.identifier" :value="item">
                            {{item.nome}}
                        </option>
                    </optgroup>
                    <optgroup label="Ingredienti">
                        <option v-for="item in ingredientiNames" :key="item.identifier" :value="item">
                            {{item.nome}}
                        </option>
                    </optgroup>
                </select>
            </form-select>            
        </div>
        <div class="col-sm-3" v-show="fornitori.length > 0">
            <form-select label="Fornitore">
                <select class="form-control" v-model="selectedFornitore" @change="getProprietaByFornitoreAndName">
                    <option v-for="(item, index) in fornitori" :key="index" :value="item">
                        {{item.nome}}
                    </option>
                </select>
            </form-select>
        </div>
        <div class="col-sm-2" v-for="(value, key, i) in properties" :key="key">
            <form-select :label="key">
                <select class="form-control" v-model="selectedProperties[i]" @change="selectProdotto">
                    <option value="">-- {{key}} --</option>
                    <option v-for="(opt, index) in value" :key="index" :value="{key: key, value: opt}">
                        {{opt}}
                    </option>
                </select>
            </form-select>
        </div>
        <div v-if="selectedProdotto">
            <div class="col-sm-6">
                <form-input type="number" label="Quantità" v-model="quantitaRichiesta"></form-input>
            </div>
            <div class="col-sm-6">
                Prezzo: <strong>{{selectedProdotto.prezzoDiListino * quantitaRichiesta}} €</strong>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { OrdineServices } from '@/services/ordineServices';
import { ProdottoServices } from '@/services/prodottoServices';
import FormSelect from '@/components/FormSelect.vue';
import FormInput from '@/components/FormInput.vue';
import * as OM from '@/model';
import * as VM from '@/viewModel';
import * as Enum from '@/enum';
import toastr from 'toastr';

@Component({
    components: {
        FormSelect,
        FormInput
    }
})
export default class OrdiniView extends Vue {
    @Prop() value: OM.ProdottoOrdine;
    @Prop() articoliNames: VM.NomeIdentifierTipo[];
    @Prop() ingredientiNames: VM.NomeIdentifierTipo[];
    selectedName: VM.NomeIdentifier = new VM.NomeIdentifier();
    quantitaRichiesta: number = 0;
    fornitori: VM.NomeIdentifier[] = [];
    selectedFornitore: VM.NomeIdentifier = new VM.NomeIdentifier();
    properties: { [key: string]: OM.KeyValuePair<string, string>[]} = {};
    selectedProperties: OM.KeyValuePair<string, string>[] = [];
    getFornitoriByName(){
        this.properties = {};
        this.selectedProperties = [];
        ProdottoServices.GetFornitoriForOrdine(this.selectedName.nome)
        .then( x => {
            this.fornitori = x;
        });
    }
    get quantitaProdotto(){
        if(this.selectedProdotto.isQuantitaUnitaria)
            return this.selectedProdotto.quantitaUnitaria;
        else
            return this.selectedProdotto.quantitaMillesimale + ' ' + this.selectedProdotto.unitaDiMisura;
    }
    selectedProdotto: OM.BaseProdotto = null;
    getProprietaByFornitoreAndName(){
        this.properties = {};
        this.selectedProperties = [];
        ProdottoServices.GetProprietaForOrdine(this.selectedName.nome, this.selectedFornitore.identifier)
        .then( x => {
            if(x.length == 0){
                this.selectProdotto();
            } else {
                let result = x.reduce((cumulative, item) => {
                    cumulative[item.key] = cumulative[item.key] || [];
                    let existing = cumulative[item.key].some( (k: any) => {
                        if(k == item.value)
                            return true;
                    });
                    if(!existing)
                        cumulative[item.key].push(item.value);
                    return cumulative;
                }, Object.create(null));
                this.properties = result;
            }
        });
    }
    selectProdotto(){
        if(Object.keys(this.properties).length == this.selectedProperties.length){
            let vm: VM.SelectProdottoVm = {
                nome: this.selectedName.nome,
                fornitoreIdentifier: this.selectedFornitore.identifier,
                proprieta: this.selectedProperties
            };
            ProdottoServices.SelectProdotto(vm)
            .then(x => {
                this.selectedProdotto = x;
                let prodottoOrdine: OM.ProdottoOrdine = new OM.ProdottoOrdine(x);
                this.$emit('input', prodottoOrdine);
            });
        }
    }
}
</script>
