<template>
    <div id="app">
        <transition name="fadeSmall">
            <div class="spinner-container" v-show="showSpinner">
                <div class="spinner-outer">
                    <div class="spinner-inner"></div>
                </div>
            </div>
        </transition>
        <router-view/>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import store from '@/store';

@Component
export default class App extends Vue {
    get showSpinner(){
        return store.state.showSpinner > 0;
    };
}
</script>
