<template>
    <div>
        <div class="mTB20">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    
                    <input type="text" class="form-control"  v-model="fullTextFilter" placeholder="Cerca..." @input="onFilterTextBoxChanged"/>

                </div>
                </div>
        </div>

        <ag-grid-vue style="width: 100%; height: 800px;"
            class="ag-theme-bootstrap"
            :gridOptions="gridOptions"
            :columnDefs="columnDefs"
            :rowData="rowData"
            :enableSorting="true"
            :floatingFilter="true"
            :animateRows="true"
            :pagination="true"
            :paginationAutoPageSize="true"
        ></ag-grid-vue>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { ProdottoServices } from '@/services/prodottoServices';
import * as OM from '@/model';
import * as Enum from '@/enum';
import * as AgGrid from 'ag-grid-vue';
import { localeText } from '@/assets/ag-grid-locale';

@Component({
    components: {
        AgGridVue: AgGrid.AgGridVue,
        nomeCell: {
            template: `<a :href="'#/ingredienti/modifica/' + this.params.data.identifier" >{{params.value}}</a>`
        },
        statoOrdineCell: {
            template: `<div>{{params.value | statoOrdine}}</div>`
        },
        prezzoCell: {
            template: ` <div>&euro; {{params.value}},00</div>`
        },        
    }
})
export default class IngredientiTable extends Vue {
    @Prop({
        type: Array
    }) rowData: any;
    columnDefs: any[] = [
        { suppressMovable: true, headerName: 'Igrediente', field: 'nome', cellRendererFramework: 'nomeCell' },
        { suppressMovable: true, headerName: 'Fornitore', field: 'fornitore' },
        { suppressMovable: true, headerName: 'Prezzo', field: 'prezzoDiListino',cellRendererFramework:'prezzoCell' },
        { suppressMovable: true, headerName: 'Q.tà', field: 'quantitaMillesimale' },        
    ];
    gridOptions: any = {
        localeText: localeText
    };
    fullTextFilter: string = "";
    onFilterTextBoxChanged(){
        this.gridOptions.api.setQuickFilter(this.fullTextFilter);
    }
    mounted(){
        if (window.innerWidth < 769) {
            this.gridOptions.columnApi.setColumnVisible("prodotti.length", false);
            this.gridOptions.columnApi.setColumnVisible("totale", false);
        } else {
            this.gridOptions.columnApi.setColumnVisible("prodotti.length", true);
            this.gridOptions.columnApi.setColumnVisible("totale", true);
        }
        this.gridOptions.api.sizeColumnsToFit();
        window.addEventListener('resize', this.onResize);
    }
    onResize(){
        setTimeout(() => {
            this.gridOptions.api.sizeColumnsToFit();
        });
    }
    destroyed(){
        window.removeEventListener('resize', this.onResize);
    }
}
</script>
