<template>
    <div class="panelWhite">

        <div class="row">
            <div class="col-md-8">
                        <h2 class="text-success" v-language="'ricette_title'"><b>Ingredienti</b> </h2>
            </div>
            <div class="col-md-4">
                    <router-link to="/ingredienti/new" class="btn btn-success btn-block">
                        <i class="mdi mdi-food-apple"></i> NUOVO INGREDIENTE
                    </router-link>
            </div>            
        </div>

        <div class="row">
                <div class="col-xs-12">
                    <span v-if="vm.length == 0" v-language="'ingredienti_notfound'">    Nessun ingrediente caricato</span>
                    <ingredienti-table v-else :row-data="vm" ></ingredienti-table>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { IngredientiServices } from '@/services/ingredientiServices';
import * as VM from '@/viewModel';
import IngredientiTable from './ingredientiTable.vue';

@Component({
    components: {
        IngredientiTable
    }
})
export default class IngredientiView extends Vue {
    vm: VM.IngredienteVm[] = [];
    title: string = "";
    created(){
        console.log(this.title);
        IngredientiServices.GetAll()
        .then( x => {
            this.vm = x;
        })
        .catch( err => {
            console.log(err);
        })
    }
}
</script>
