<template>
    <div v-if="loaded" class="panelWhite" >

        <div class="row">
            <div class="col-sm-9">
                        <h2 class="text-success">Modifica Ingrediente:</h2>
            </div>
            <div class="col-sm-2">
                        <button type="button" class="btn btn-success btn-block" @click="save">
                            <i class="fa fa-floppy"></i> SALVA
                        </button>
            </div>            
            <div class="col-sm-1">
                        <button type="button" class="btn btn-danger btn-block" @click="remove">
                            <i class="fa fa-trash"></i>
                        </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li :class="{'active': tabIndex == 0 }" @click="tabIndex = 0"><a><i class="mdi mdi-library-books"></i> Dati Ingrediente</a></li>
                    <li :class="{'active': tabIndex == 1 }" @click="tabIndex = 1"><a><i class="mdi mdi-radioactive"></i> Proprietà Organolettiche</a></li>
                </ul>

                <div v-show="tabIndex == 0" class="tabContent animated fadeIn">
                    <dati-base-prodotto v-model="vm" :tipo-prodotto="1" :immagine="true"></dati-base-prodotto>
                </div>
                <div v-show="tabIndex == 1" class="tabContent animated fadeIn">
                    <proprieta-form :ingrediente="vm.dettaglio"></proprieta-form>
                </div>

            </div>
        </div>


    </div>
</template>




<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { IngredientiServices } from '@/services/ingredientiServices';
import * as OM from '@/model';
import ProprietaForm from './ProprietaForm.vue';
import DatiBaseProdotto from '@/components/DatiBaseProdotto.vue';
import toastr from 'toastr';

@Component({
    components: {
        ProprietaForm,
        DatiBaseProdotto
    }
})
export default class ModificaIngredienteView extends Vue {
    loaded: boolean = false;
    vm: OM.Ingrediente = new OM.Ingrediente();
    tabIndex: number = 0;
    created(){
        IngredientiServices.GetById(this.$route.params.identifier)
        .then( x => {
            this.vm = x;
            this.loaded = true;
        })
        .catch( x => {
            toastr.error("Errore lettura");
        })
    }
    save(){
        IngredientiServices.Save(this.vm)
        .then( x => {
            toastr.success("Ingrediente salvato");
        })
        .catch( x => {
            toastr.error("Errore nel salvataggio");
        })
    }
    remove(){
        IngredientiServices.Delete(this.vm.identifier)
        .then( x => {
            toastr.success("Ingrediente rimosso");
            this.$router.back();
        })
        .catch( x => {
            toastr.error("Errore nella rimozione");
        })
    }
}
</script>
