<template>
    <div class="panelWhite">

        <div class="row">
            <div class="col-sm-12">
                        <h2 class="text-success" v-language="'ingredienti_nuovoIngrediente'">Inserimento Nuovo Ingrediente </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li :class="{'active': tabIndex == 0 }" @click="tabIndex = 0">
                        <a>
                            Generali
                        </a>
                    </li>
                    <li :class="{'active': tabIndex == 1 }" @click="tabIndex = 1">
                        <a>
                            Proprietà
                        </a>
                    </li>
                    <!-- <li :class="{'active': tabIndex == 2 }" @click="tabIndex = 2">
                        <a>
                            Nutrienti
                        </a>
                    </li> -->
                </ul>
                
                <div v-show="tabIndex == 0" class="tabContent animated fadeIn">
                    <dati-base-prodotto v-model="vm" :tipo-prodotto="1"></dati-base-prodotto>
                </div>

                <div v-show="tabIndex == 1" class="tabContent animated fadeIn">
                    <proprieta-form :ingrediente="vm.dettaglio"></proprieta-form>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
            <div class="text-center">
                <button type="button" class="btn btn-success btn-block" @click="save"><i class="fa fa-bolt"></i> Salva</button>
            </div>                
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { IngredientiServices } from '@/services/ingredientiServices';
import { FornitoreServices } from '@/services/fornitoreServices';
import * as OM from '@/model';
import * as Enum from '@/enum';
import ProprietaForm from './ProprietaForm.vue'
import NutrientiForm from './NutrientiForm.vue'
import toastr from 'toastr';
import DatiBaseProdotto from '@/components/DatiBaseProdotto.vue';

@Component({
    components: {
        ProprietaForm,
        NutrientiForm,
        DatiBaseProdotto
    }
})
export default class NuovoIngredienteView extends Vue {
    vm: OM.Ingrediente = new OM.Ingrediente();
    tabIndex: number = 0;
    // fornitori: OM.Fornitore[];
    save(){
        IngredientiServices.Save(this.vm)
        .then( x => {
            toastr.success("Ingrediente salvato");
        })
        .catch( x => {
            toastr.error("Errore nel salvataggio");
        })
    }
    created(){
        this.vm.tipoProdotto = Enum.TipoProdotto.Ingrediente;
        // FornitoreServices.GetAll().then(x => {
        //     this.fornitori = x;
        // })
    }
}
</script>
