<template>
    <form class="row">
        <div class="col-sm-6">
            <form-input type="text" label="GruppoNome" placeholder="GruppoNome" v-model="nutrienti.gruppoNome"></form-input>
            <form-input type="text" label="Alimento" placeholder="Alimento" v-model="nutrienti.alimento"></form-input>
            <form-input type="number" label="KiloCalorie" placeholder="KiloCalorie" v-model="nutrienti.kiloCalorie"></form-input>
            <form-input type="number" label="Glucidi" placeholder="Glucidi" v-model="nutrienti.glucidi"></form-input>
            <form-input type="number" label="Proteine" placeholder="Proteine" v-model="nutrienti.proteine"></form-input>
            <form-input type="number" label="Grassi" placeholder="Grassi" v-model="nutrienti.grassi"></form-input>
            <form-input type="number" label="DiCuiSaturi" placeholder="DiCuiSaturi" v-model="nutrienti.diCuiSaturi"></form-input>
        </div>
        <div class="col-sm-6">
            <form-input type="number" label="Fibra" placeholder="Fibra" v-model="nutrienti.fibra"></form-input>
            <form-input type="number" label="Colesterolo" placeholder="Colesterolo" v-model="nutrienti.colesterolo"></form-input>
            <form-input type="number" label="KiloJoules" placeholder="KiloJoules" v-model="nutrienti.kiloJoules"></form-input>
            <form-input type="number" label="Sodio" placeholder="Sodio" v-model="nutrienti.sodio"></form-input>
            <form-input type="number" label="Calcio" placeholder="Calcio" v-model="nutrienti.calcio"></form-input>
            <form-input type="number" label="Ferro" placeholder="Ferro" v-model="nutrienti.ferro"></form-input>
            <form-input type="number" label="VitaminaA" placeholder="VitaminaA" v-model="nutrienti.vitaminaA"></form-input>
            <form-input type="number" label="VitaminaC" placeholder="VitaminaC" v-model="nutrienti.vitaminaC"></form-input>
        </div>
    </form>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { IngredientiServices } from '@/services/ingredientiServices';
import * as OM from '@/model';
import FormInput from '@/components/FormInput.vue'
import FormSelect from '@/components/FormSelect.vue'
import toastr from 'toastr';

@Component({
    components: {
        FormInput,
        FormSelect
    }
})
export default class NutrientiForm extends Vue {
    @Prop() nutrienti: OM.NutrientiIngrediente | Object;
}
</script>