<template>
    <form class="row">
        <div class="col-sm-12">
            <p>Inserisci i valori nutrizionali in 100g di prodotto</p>
        </div>
        <div class="col-sm-6">
            <form-input type="number" label="Acqua/Umidità" v-model="ingrediente.acqua" input-icon-class="fa fa-tint"></form-input>
            <form-input type="number" label="Lipidi" v-model="ingrediente.lipidi" input-icon-class="fa fa-flask"></form-input>
            <form-input type="number" label="Proteine" v-model="ingrediente.proteine" input-icon-class="fa fa-flask"></form-input>
            <form-input type="number" label="Zuccheri" v-model="ingrediente.zuccheri" input-icon-class="fa fa-cubes"></form-input>
            <form-input type="number" label="Fibre" v-model="ingrediente.fibre" input-icon-class="fa fa-flask"></form-input>
            <form-input type="number" label="Carboidrati" v-model="ingrediente.carboidrati" input-icon-class="fa fa-flask"></form-input>
            <form-input type="number" label="Ceneri" v-model="ingrediente.ceneri" input-icon-class="fa fa-flask"></form-input>
            <form-input type="number" label="Altri solidi" v-model="ingrediente.altriSolidi" input-icon-class="fa fa-cubes"></form-input>
            <form-input type="number" label="PAC" v-model="ingrediente.pac"  input-icon-class="fa fa-flask"></form-input>
            <form-input type="number" label="POD" v-model="ingrediente.pod" input-icon-class="fa fa-flask"></form-input>
            
            <h2>Totale: <b :class="'text-'+ checkTotaleClass">{{totale}} g</b></h2>
        </div>
    </form>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import * as OM from '@/model';
import FormInput from '@/components/FormInput.vue'

@Component({
    components: {
        FormInput,
    }
})
export default class ProprietaForm extends Vue {
    @Prop({
        type: [OM.DettaglioIngrediente, Object]
    }) ingrediente: OM.DettaglioIngrediente;
    get totale(){
        return (+ this.ingrediente.acqua +
            this.ingrediente.lipidi +
            this.ingrediente.proteine +
            this.ingrediente.zuccheri +
            this.ingrediente.fibre + 
            this.ingrediente.carboidrati +
            this.ingrediente.ceneri +
            this.ingrediente.altriSolidi).toFixed(2);
    }
    get checkTotaleClass(){
        if(parseFloat(this.totale) == 100){
            return 'success';
        } else if(parseFloat(this.totale) > 98 && parseFloat(this.totale) < 102){
            return 'warning';
        } else {
            return 'danger';
        }
    }
}
</script>
