<template>
    <form class="row">
        <div class="col-sm-6">
            <form-input type="text" label="Nome" placeholder="Nome" v-model="ingrediente.nome"></form-input>
            <form-input type="text" label="Composizione" placeholder="Composizione" v-model="ingrediente.composizione"></form-input>
            <form-input type="text" label="CodiceProdotto" placeholder="CodiceProdotto" v-model="ingrediente.codiceProdotto"></form-input>
            <form-input type="number" label="Calorie" placeholder="Calorie" v-model="ingrediente.calorie"></form-input>
            <form-input type="checkbox" label="IsSaccarosio" placeholder="IsSaccarosio" v-model="ingrediente.isSaccarosio"></form-input>
            <form-input type="number" label="PercentualeSuSaccarosio" placeholder="PercentualeSuSaccarosio" v-model="ingrediente.percentualeSuSaccarosio"></form-input>
            <form-input type="checkbox" label="IsZucchero" placeholder="IsZucchero" v-model="ingrediente.isZucchero"></form-input>
            <form-input type="number" label="MassaMolecolare" placeholder="MassaMolecolare" v-model="ingrediente.massaMolecolare"></form-input>
            <form-input type="number" label="Acqua" placeholder="Acqua" v-model="ingrediente.acqua"></form-input>
            <form-input type="number" label="Grassi" placeholder="Grassi" v-model="ingrediente.grassi"></form-input>
            <form-input type="number" label="Slng" placeholder="Slng" v-model="ingrediente.slng"></form-input>
            <form-input type="number" label="Lattosio" placeholder="Lattosio" v-model="ingrediente.lattosio"></form-input>
            <form-input type="number" label="Pac" placeholder="Pac" v-model="ingrediente.pac"></form-input>
        </div>
        <div class="col-sm-6">
            <form-input type="number" label="Pod" placeholder="Pod" v-model="ingrediente.pod"></form-input>
            <form-input type="number" label="Alcool" placeholder="Alcool" v-model="ingrediente.alcool"></form-input>
            <form-input type="number" label="AltriGlucidi" placeholder="AltriGlucidi" v-model="ingrediente.altriGlucidi"></form-input>
            <form-input type="number" label="AltreProteine" placeholder="AltreProteine" v-model="ingrediente.altreProteine"></form-input>
            <form-input type="number" label="AltriSolidi" placeholder="AltriSolidi" v-model="ingrediente.altriSolidi"></form-input>
            <form-input type="checkbox" label="IsBase" placeholder="IsBase" v-model="ingrediente.isBase"></form-input>
            <form-input type="checkbox" label="IsNoFood" placeholder="IsNoFood" v-model="ingrediente.isNoFood"></form-input>
            <form-input type="checkbox" label="IsSemilavoratoInProprio" placeholder="IsSemilavoratoInProprio" v-model="ingrediente.isSemilavoratoInProprio"></form-input>
            <form-input type="number" label="UnitaDiAcquisto" placeholder="UnitaDiAcquisto" v-model="ingrediente.unitaDiAcquisto"></form-input>
            <form-input type="number" label="ContenutoInGrammi" placeholder="ContenutoInGrammi" v-model="ingrediente.contenutoInGrammi"></form-input>
            <form-input type="number" label="PrezzoUnitaDiAcquisto" placeholder="PrezzoUnitaDiAcquisto" v-model="ingrediente.prezzoUnitaDiAcquisto"></form-input>
            <form-input type="number" label="CostoAlGrammo" placeholder="CostoAlGrammo" v-model="ingrediente.costoAlGrammo"></form-input>
            <form-input type="number" label="UnitaDose" placeholder="UnitaDose" v-model="ingrediente.unitaDose"></form-input>
        </div>
    </form>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { IngredientiServices } from '@/services/ingredientiServices';
import { UserServices } from '@/services/userServices';
import * as OM from '@/model';
import FormInput from '@/components/FormInput.vue'
import FormSelect from '@/components/FormSelect.vue'
import toastr from 'toastr';

@Component({
    components: {
        FormInput,
        FormSelect
    }
})
export default class OldProprietaForm extends Vue {
    @Prop() ingrediente: OM.Ingrediente | Object;
}
</script>
