<template>
    <div>
        <form-input type="text" label="Ragione sociale" 
            placeholder="Ragione sociale" v-model="user.ragioneSociale"
            validate="required"
        ></form-input>
        <form-input type="text" label="Partita iva" 
            placeholder="Partita iva" v-model="user.partitaIva"
        ></form-input>
        <form-input type="text" label="Referente" 
            placeholder="Referente" v-model="user.referente"
        ></form-input>
        <google-autocomplete v-model="user.indirizzo"></google-autocomplete>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import * as OM from '@/model';
import FormInput from '@/components/FormInput.vue'
import GoogleAutocomplete from '@/components/googleAutocomplete.vue'

@Component({
    components: {
        FormInput,
        GoogleAutocomplete
    }
})
export default class FornitoreDetail extends Vue {
    @Prop({
        type: [Object, OM.BaseUser]
    }) user: OM.BaseUser;
}
</script>
