<template>
    <div class="panelWhite">

        <div class="row">
            <div class="col-sm-12">
                        <h2 class="text-success">Crezione Guidata Nuova Utenza</h2>
            </div>
        </div>
        <div class="row">

        <div class="col-sm-12">

                <form-input type="text" label="Username" placeholder="Username" v-model="vm.username" validate="required" ></form-input>
                <form-input type="text" label="Email" placeholder="Email" v-model="vm.email" validate="required|email"></form-input>
                <form-input type="text" label="Password di accesso" placeholder="Password" v-model="vm.password" validate="required" ></form-input>

                <div class="form-group">
                    <div class="row">
                        
                    <label class="col-xs-12 col-sm-3 col-form-label text-right">Ruolo</label>
                        <div class="col-xs-12 col-sm-9">
                        <select class="form-control" v-model="vm.role">
                            <option v-for="(item, i) in roles" :key="i" :value="item">{{item}}</option>
                        </select>
                        </div>
                    </div>
                </div>
                <fornitore-detail :user="vm" v-if="vm.role == 'Fornitore'"></fornitore-detail>
                <operatore-detail :user="vm" v-if="vm.role == 'Operatore'"></operatore-detail>
                <cliente-detail :user="vm" v-if="vm.role == 'Cliente'"></cliente-detail>

        </div>

        <div class="col-sm-12">
                <button type="button" @click="save" class="btn btn-success btn-block">
                    <i class="fa fa-save"></i> CREA
                </button>
        </div>
    </div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { UserServices } from '@/services/userServices';
import * as OM from '@/model';
import * as Enum from '@/enum';
import toastr from 'toastr';
import FormInput from '@/components/FormInput.vue';
import FornitoreDetail from './FornitoreDetail.vue';
import OperatoreDetail from './OperatoreDetail.vue';
import ClienteDetail from './ClienteDetail.vue';

@Component({
    components: {
        FormInput,
        OperatoreDetail,
        FornitoreDetail,
        ClienteDetail
    }
})
export default class NuovoUserView extends Vue {
    vm: OM.BaseUser = new OM.BaseUser();
    roles: string[] = Enum.UserRole.getList();
    save(){
        let prom;
        switch(this.vm.role){
            case Enum.UserRole.Admin:
                prom = UserServices.SaveAdmin(this.vm);
                break;
            case Enum.UserRole.Fornitore:
                prom = UserServices.SaveFornitore(<OM.FornitoreOld>this.vm);
                break;
            case Enum.UserRole.Operatore:
                prom = UserServices.SaveOperatore(<OM.Operatore>this.vm);
                break;
            case Enum.UserRole.Cliente:
                prom = UserServices.SaveCliente(<OM.Cliente>this.vm);
                break;
        }
        prom.then( x => {
            toastr.success("Salvato");
            
            this.$router.push("/users/new");
        })
        .catch( err => {
            console.log(err);
            toastr.error("errore");
        });
    }
}
</script>
