<template>
    <div>
        <form-input type="text" label="Nome" 
            placeholder="Nome" v-model="user.nome"
            validate="required"
        ></form-input>
        <form-input type="text" label="Cognome" 
            placeholder="Cognome" v-model="user.cognome"
            validate="required"
        ></form-input>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import * as OM from '@/model';
import FormInput from '@/components/FormInput.vue'

@Component({
    components: {
        FormInput
    }
})
export default class OperatoreDetail extends Vue {
    @Prop({
        type: [Object, OM.BaseUser]
    }) user: OM.BaseUser;
}
</script>
