<template>
    <div class="panelWhite">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-success" v-language="'ricette_title'"><b>Utenti</b> </h2>
            </div>
            <div class="col-md-4">
                <router-link to="/users/new" class="btn btn-success btn-block">
                    <i class="fa fa-bolt"></i> NUOVA UTENZA
                </router-link>
            </div>            
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span v-if="vm.length == 0">Nessuna utenza</span>
                <users-table v-else :rowData="vm"></users-table>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { UserServices } from '@/services/userServices';
import * as OM from '@/model';
import UsersTable from './usersTable.vue';


@Component({
    components: {
        UsersTable
    }
})
export default class UsersView extends Vue {
    vm: OM.BaseUser[] = [];
    created(){
        UserServices.GetAll()
        .then( x => {
            this.vm = x;
        })
        .catch( err => {
            console.log(err);
        })
    }
}
</script>
