<template>
    <div>
        <div class="header-title">
            Dashboard
        </div>
        <div class="col-sm-6">
            <div class="box shadow">
                <div class="row">
                    <div class="col-sm-12 text-center">
                       <MonthlyIncome :chart-data="datacollection" :options="options"></MonthlyIncome>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-sm-6">
            <div class="box shadow">
                <div class="row">
                    <div class="col-sm-12 text-center">
                       <MonthlyIncomeLine :chart-data="datacollection" :options="options"></MonthlyIncomeLine>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
// import LineChart from 'vue-chartjs';
import Chart, { Bar, Line } from 'vue-chartjs';
import MonthlyIncome from './monthlyIncome.vue';
import MonthlyIncomeLine from './monthlyIncomeLine.vue';
import * as OM from '@/model';

@Component({
    components: {
        MonthlyIncome,
        MonthlyIncomeLine
    }
})
export default class Dashboard extends Vue {

    datacollection: any = {};

     created(){

         this.datacollection = {
            labels: ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Dicembre'],
            datasets: [
            {
                label: 'Ordini',
                backgroundColor: '#4994e4',
                data: [200, 600,500,600,800,900,1000,1500,300,600,900,200]
            }, 
            // {
            //     label: 'Ordini',
            //     backgroundColor: '#4994e4',
            //     data: [300, 500]
            //     }
                ]
        }; 
    
    }
    // mounted () {
    //   this.fillData()
    // }

    // fillData () {
    //     this.datacollection = {
    //         labels: [100, 500],
    //         datasets: [
    //         {
    //             label: 'Data One',
    //             backgroundColor: '#f87979',
    //             data: [100, 200]
    //         }, {
    //             label: 'Data One',
    //             backgroundColor: '#f87979',
    //             data: [300, 500]
    //             }]
    //         }
    // }

    get getRandomInt () {
        return Math.floor(Math.random() * (50 - 5 + 1)) + 5;
    }
  }

</script>
